<div class="carousel-4_section_area">
    <div class="carousel_section my_container">
        <h2>Why choose Attega</h2>
        <div class="carousel-4">
            <div class="carousel-4_item">
                <div class="carousel-4__text">
                    <p>We develop strong long-lasting relationships with companies who have big ideas for development and have various recruitment packages available 
                    to reflect this. Our aim through this process allows us to gain an in-depth understanding of our client’s recruitment needs and ultimately provide 
                    the tailored support that our clients need. Take it from them...</p>
                    <div class="carousel-4__viddiv">
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/669751230?h=738859af3d&color=FFAE00&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <h3 class="">Karen Tutt</h3>
                    <h4 class="">HR Manager, TS Group</h4>
                    <div class="attega_center">
                        <a class="btn btn--small btn--web" href="/about-us">About Attega</a>
                    </div>
                    <a href="/about-us">
                        <button class="btn btn--mobile">About Attega</button>  
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>