<div class="fixeboxes">
    <h2 class="fiveboxes_htwoselector">Sectors We Serve.</h2>
    <div class="fiveboxes__boxes my_container">
        <div class="fiveboxes__box">
            <a href="/mechanical-and-electrical">
                <div class="fiveboxes__box_internals">
                    <div class="fiveboxes_leftside fiveboxes_mechanical"></div>
                    <div class="fiveboxes__box_internals__rightside">
                        <img src="{{ site.theme.link }}/assets/img/MechanicalElectricalIcon.svg" alt=" mechanical tool and electricity icon">
                        <h3>Mechanical &amp; Electrical</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="fiveboxes__box fiveboxes__box--middlebox">
            <a href="/construction">
                <div class="fiveboxes__box_internals">
                    <div class="fiveboxes_leftside fiveboxes_construction"></div>
                    <div class="fiveboxes__box_internals__rightside">
                        <img src="{{ site.theme.link }}/assets/img/ConstructionIcon.svg" alt="hard hat icon">
                        <h3>Building &amp; Construction</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="fiveboxes__box fiveboxes__box--middlebox">
            <a href="/fire-and-security">
                <div class="fiveboxes__box_internals">
                    <div class="fiveboxes_leftside fiveboxes_fireandsecurity"></div>
                    <div class="fiveboxes__box_internals__rightside fiveboxes__box_internals__rightside--fire">
                        <img src="{{ site.theme.link }}/assets/img/FireSecurityIcon.svg" alt="fire icon">
                        <h3>Fire &amp; Security</h3>
                    </div>
                </div>
            </a> 
        </div>
        <div class="fiveboxes__box">
            <a href="/manufacturing-technology">
                <div class="fiveboxes__box_internals">
                    <div class="fiveboxes_leftside fiveboxes_manufacturing"></div>
                    <div class="fiveboxes__box_internals__rightside">
                        <img src="{{ site.theme.link }}/assets/img/ManufacturingTechnologyIcon.svg" alt="manufactured cog icon">
                        <h3>Manufacturing &amp; Technology</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>