{% extends "base.twig" %}

{% block content %}

<div class="my_container cookie_page">
    <div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<h1>Candidate GDPR Statement</h1>
</div>
</div>
<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><strong>Candidate Confidentiality and Privacy Notice:</strong>
<p>By instructing Attega to support my job search, I confirm that I have been given a copy of Attega&rsquo;s privacy information notice that explains what personal data Attega requires about me, and how it will be used to support my search for a new job role. I understand that Attega are unable to complete an effective search without this information, and Attega have explained that this may include some information that is more sensitive.</p>
<p>I acknowledge that when Attega put my personal information to a potential employer, my personal information will be processed by that potential employer as part of their recruitment process, which may be on different terms to those given by Attega.</p>
<p>I acknowledge that I have the right not to provide information that Attega request, and to ask Attega to stop processing my personal information at any time, but this may affect Attega&rsquo;s ability to provide its recruitment services.</p>
<p>I acknowledge that Attega may keep my personal information for a period of up to 5 years to contact me about other employment opportunities that may be of interest to me, and that I can ask Attega to stop contacting me at any time.</p>
<p>I agree to ensure that information I provide is accurate and up to date, and I agree to keep information about potential employers confidential.</p>
<p><strong><u>Privacy Notice:</u></strong></p>
<p>Attega understands that looking for employment can be a sensitive issue personally and professionally.&nbsp; Here at Attega, we recognise that you are relying on us to collect and use your personal information appropriately.</p>
<p>The following paragraphs explain what information we need to collect and process from you, and how we use this to support your search for a new role.</p>
<p><strong>Please note that where we share your personal information with a prospective employer, we will inform them of our own terms, but each prospective employer will use your personal information in accordance with their own privacy notices, which may include different and additional terms.</strong></p>
<p>Attega Group Limited is registered in England under company number 3380971, the registered address is Suit 60 Port View, One Port Way, Port Solent, Portsmouth PO4 4TY.</p>
<p><strong><em>What Personal Information does Attega Need to support my recruitment search</em></strong></p>
<p>Attega needs to hold and process information about you to support the recruitment process. In each case, Attega will seek to limit the amount of information that is collected and shared to protect your privacy.</p>
<ul>
<li><strong>Contact information:</strong>&nbsp;we need your name, phone number, email and postal addresses to be able to contact you in connection with our services. We collect this through our website, when you contact us or by looking on other public sites (such as LinkedIn).&nbsp; We will hold this information whilst actively seeking for a position, and for up to 60 months unless you ask us to stop.</li>
<li><strong>Skills and Employment history:</strong>&nbsp;we need details of your qualifications, work skills, employment history and current salary and packages to create a candidate profile which will support our processes and enable us to find a suitable position. You are able to provide as much or as little information as you choose. We will hold this information whilst actively seeking for a position, and for up to 60 months unless you ask us to stop.</li>
<li><strong>CV</strong>: we will ask you to provide an up to date CV which we can share with interested employers who are looking for a candidate with similar skills and experience</li>
<li><strong>Profile data:&nbsp;</strong>we may collect information from your social media or other public websites to support our profile of your skills and experience and enable us to match a suitable work placement.</li>
<li><strong>Referees:</strong>&nbsp;we will need to collect references from previous employers to build our profile and support the recruitment process. We may hold details of previous employers, their contact details and the actual references where they are shared with us directly.</li>
</ul>
<p>Some of the information that Attega requires to complete its recruitment services is classified as &ldquo;special categories of personal data&rdquo;. This is information which is more sensitive and includes information about racial or ethnic origin, religious or political beliefs, information concerning your health or wellbeing; information concerning your sex life, sexual orientation or criminal convictions.&nbsp; As these types of information are regarded as particularly sensitive, Attega will only collect and process this data where absolutely necessary, and with your consent.</p>
<p>Where possible, Attega will collect information directly from you.&nbsp; Where we obtain your personal information from other sources (such as LinkedIn or job search sites), we will try to confirm this with you before we use it to support a recruitment search.</p>
<p>If you do not wish to provide information to us, or permit us to use it as set out in this privacy notice, then it may affect our ability to perform our services for your benefit, and some potential employers may be less willing to engage with you.&nbsp; If you are unsure about sharing information, or why we may need it, please do ask.</p>
<p><strong><em>How will Attega use my personal information?</em></strong></p>
<p>Attega uses the information for a number of different purposes:</p>
<p>Our primary purpose is to provide recruitment services to our individual candidates and to our employer clients.&nbsp; We need to understand the skills and experience of our candidates to match them to suitable employment opportunities and we will share relevant information with a potential employer. Where individuals have contacted us, there may be a contract in place between Attega and you, the candidate. Candidate information may be shared anonymously with potential employers.</p>
<p>Certain information is required to enable Attega to comply with its legal and regulatory obligations. For example certain information is required to monitor ethnic origin or discrimination.</p>
<p>Personal information is also used for Attega&rsquo;s legitimate business interests to support its candidates and employer clients, promote its services, maintain and improve our website and services and for marketing purposes (although candidates are able to opt out of marketing at any time by contacting us).</p>
<p><strong><em>With which third parties does Attega share personal information</em></strong><em>?</em></p>
<p>Attega needs to be able to share candidates personal information with potential employers. This will initially be general information about your skills and experience, which we try to do on an anonymous basis initially.&nbsp; Where we are providing more specific information, we will seek your permission either by email or over the phone.</p>
<p>Personal information may also be accessible by our third party suppliers who are supporting Attega to provide our business services to candidates and employers.&nbsp; These include our IT service companies and others acting on our instructions, as well as accountancy and legal professional services.&nbsp; Some information is collected by third parties provide our website analytic functions.&nbsp; Information may also be shared with other group companies as part of shared IT, administration and other management functions for efficacy and security.</p>
<p>We may also share information if we buy or sell part of the whole of our business, to protect or enforce our legal rights, for identification management or where we are a required to share personal data under a legal obligation or to comply with a court order.</p>
<p><strong><em>How does Attega keep information secure?</em></strong></p>
<p>The security of your personal data is essential to us and to protect your personal data we at Attega take a number of important measures including ensuring that our servers are securely protected against unauthorised access; ensuring that all data backups are undertaken regularly and are securely stored for an appropriate length of time.</p>
<p>We will only store your personal data within the UK.&nbsp; We may shall IT facilities with the group of companies within which we operate, but your information is protected within these facilities, and only accessed by those personnel who need to have access to it to provide our services to you. Where data may be transferred outside the UK, we will put in place contractual measures to protect that data in accordance with the relevant laws.</p>
<p>To contact us about anything to do with your personal data including to make a subject access request please contact the Communications Manager at&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>, or call us on +44 (0)7340 001466.</p>
<p><strong><em>What rights do I have?</em></strong></p>
<p>Attega will always work to uphold your rights under the data protection laws.&nbsp; You have a number of rights in respect of the way that we are handling your personal data:</p>
<ul>
<li>To request a copy of the personal data that we are holding (known as a subject access request)</li>
<li>To request that we correct inaccurate information that we hold</li>
<li>To request that we delete information in certain situations</li>
<li>To request that we stop using your information in certain situations</li>
<li>To request decisions are not taken by wholly automated means. Attega does not currently use automated processes for decision making.</li>
<li>To request portability of data that you provide to us to another company, when you stop using our services.</li>
</ul>
<p>Further information about your rights can also be obtained from the Information Commissioners officer or your local Citizen&rsquo;s Advice Bureau.&nbsp; Please contact us if you wish to exercise these rights.&nbsp;</p>
<p>If you have any complaint or concern about the way that Attega is handling your personal information please contact us in the first instance to give us a chance to explain what is happening and deal with your concerns.&nbsp; You will still have the right to contact the Information Commissioner if you have a complaint at&nbsp;<a href="https://www.ico.org.uk/">www.ico.org.uk</a>.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block body_end %}

{% endblock %}
