{% extends "base.twig" %}

{% block content %}

<div class="my_container cookie_page">
<div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<h1 class="entry-title main_title">Cookie Policy</h1>
<div class="entry-content">
<p>This website&nbsp;<a href="https://www.attegagroup.com/">www.attegagroup.com</a>&nbsp;(&ldquo;Our Site&rdquo;) uses Cookies and similar technologies in order to distinguish you from other users. By using Cookies, we are able to provide you with a better experience and to improve Our Site by a better understanding of how you use it. Please read this Cookie Policy carefully and ensure that you understand it. Your acceptance of Our Cookie Policy is deemed to occur when you press the button &lsquo;Accept&rsquo; on Our Cookie pop-up notice. If you do not agree to Our Cookie Policy, please stop using Our Site immediately.</p>
<h4>Definitions and Interpretation</h4>
<p>In this Cookie Policy, unless the context otherwise requires, the following expressions have the following meanings:</p>
<table>
<tbody>
<tr>
<td width="193"><strong>&ldquo;Cookie&rdquo;</strong></td>
<td width="361">means a small file placed on your computer or device by Our Site when you visit certain parts of Our Site and/or when you use certain features of Our Site;</td>
</tr>
<tr>
<td width="193"><strong>&ldquo;Cookie Law&rdquo;</strong></td>
<td width="361">means the relevant parts of EU Regulation 2016/679 General Data Protection Regulation (&ldquo;GDPR&rdquo;);</td>
</tr>
<tr>
<td width="193"><strong>&ldquo;personal data&rdquo;</strong></td>
<td width="361">means any and all data that relates to an identifiable person who can be directly or indirectly identified from that data, as defined by EU Regulation 2016/679 General Data Protection Regulation (&ldquo;GDPR&rdquo;); and</td>
</tr>
<tr>
<td width="193"><strong>&ldquo;We/Us/Our&rdquo;</strong></td>
<td width="361">means Attega Group Ltd, a limited company registered in England under company number&nbsp;<strong>3380971</strong>, whose registered address is Suite 60, Port View, One Port Way, Port Solent, Portsmouth, PO6 4TY</td>
</tr>
</tbody>
</table>
<h4>Information About Us</h4>
<ul>
<li>Our Site is&nbsp;<a href="https://www.attegagroup.com/">www.attegagroup.com</a>&nbsp;operated by Attega Group Ltd, a limited company registered in England under company number&nbsp;<strong>3380971</strong>, whose registered address is Attega Group Ltd, Suite 60, Port View, One Port Way, Port Solent, Portsmouth, PO6 4TY.</li>
<li>VAT number:&nbsp;<strong>699169756</strong>.</li>
<li>Our Data Protection Officer can be contacted by email at&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>, by telephone on +44 (0)7340 001466.</li>
</ul>
<h4>How Does Our Site Use Cookies?</h4>
<ul>
<li>Our Site may place and access certain first party Cookies on your computer or device. First party Cookies are those placed directly by Us and are used only by Us. We use Cookies to facilitate and improve your experience of Our Site and to provide and improve Our products and services. We have carefully chosen these Cookies and have taken steps to ensure that your privacy and personal data is protected and respected at all times.</li>
<li>By using Our Site, you may also receive certain third-party Cookies on your computer or device. Third-party Cookies are those placed by websites, services, and/or parties other than Us. Third-party Cookies are used on Our Site for advertising services and profile management. For more details, please refer to section 4 below.</li>
<li>All Cookies used by and on Our Site are used in accordance with current Cookie Law. We may use some or all of the following types of Cookie:</li>
</ul>
<ul>
<li>Strictly Necessary Cookies</li>
</ul>
<p>A Cookie falls into this category if it is essential to the operation of Our Site, supporting functions such as logging in and your wish list.</p>
<ul>
<li>Analytics Cookies</li>
</ul>
<p>It is important for Us to understand how you use Our Site, for example, how efficiently you are able to navigate around it, and what features you use. Analytics Cookies enable us to gather this information, helping Us to improve Our Site and your experience of it.</p>
<ul>
<li>Functionality Cookies</li>
</ul>
<p>Functionality Cookies enable Us to provide additional functions to you on Our Site such as personalisation and remembering your saved preferences. Some functionality Cookies may also be strictly necessary Cookies, but not all necessarily fall into that category.</p>
<ul>
<li>Targeting Cookies</li>
</ul>
<p>It is important for Us to know when and how often you visit Our Site, and which parts of it you have used (including which pages you have visited and which links you have visited). As with analytics Cookies, this information helps us to better understand you and, in turn, to make Our Site and advertising more relevant to your interests. Some information gathered by targeting Cookies may also be shared with third parties.</p>
<ul>
<li>Third-Party Cookies</li>
</ul>
<p>Third party Cookies are not placed by Us; instead, they are placed by third parties that provide services to Us and/or to you. Third party Cookies may be used by advertising services to serve up tailored advertising to you on Our Site, or by third parties providing analytics services to Us (these Cookies will work in the same way as analytics Cookies described above).</p>
<ul>
<li>Persistent Cookies</li>
</ul>
<p>Any of the above types of Cookie may be a persistent Cookie. Persistent Cookies are those which remain on your computer or device for a predetermined period and are activated each time you visit Our Site.</p>
<ul>
<li>Session Cookies</li>
</ul>
<p>Any of the above types of Cookie may be a session Cookie. Session Cookies are temporary and only remain on your computer or device from the point at which you visit Our Site until you close your browser. Session Cookies are deleted when you close your browser.</p>
<ul>
<li>Cookies on Our Site are not permanent and will expire after a certain period.</li>
<li>For more details of the personal data that We collect and use, the measures we have in place to protect personal data, your legal rights, and our legal obligations, please refer to our&nbsp;<a href="https://www.attegagroup.com/privacy-policy">Privacy Policy</a>.</li>
<li>For more specific details of the Cookies that We use, please refer to the table below.</li>
</ul>
<h4>What Cookies Does Our Site Use?</h4>
<p>The following first party Cookies may be placed on your computer or device:</p>
<table>
<tbody>
<tr>
<td width="155">
<h4><strong>Name of Cookie</strong></h4>
</td>
<td width="310">
<h4><strong>Purpose &amp; Type</strong></h4>
</td>
<td width="155">
<h4><strong>Strictly Necessary</strong></h4>
</td>
</tr>
<tr>
<td width="155">_atssc_atuvc _cfduid _hssc _hssrc _hstc _leadinmigrated _leadinutk</td>
<td width="310">It records and memorises your navigation on Our Site</td>
<td width="155">yes</td>
</tr>
</tbody>
</table>
<p>The following third-party Cookies may be placed on your computer or device:</p>
<table>
<tbody>
<tr>
<td width="155">
<h4><strong>Name of Cookie</strong></h4>
</td>
<td width="155">
<h4><strong>Purpose &amp; Type</strong></h4>
</td>
<td width="155">
<h4><strong>Provider</strong></h4>
</td>
<td width="155">
<h4><strong>Strictly Necessary</strong></h4>
</td>
</tr>
<tr>
<td width="155">_qca_hlstore _hluid _cfduid</td>
<td width="155">It records and memorises your entry on Our Site and pages you have visited</td>
<td width="155"><strong>hubspot.com</strong></td>
<td width="155">yes</td>
</tr>
<tr>
<td width="155">AMCV_ELOQUA</td>
<td width="155">It allows you to share contents from Our Site to your LinkedIn personal account</td>
<td width="155"><strong>linkedin.com</strong></td>
<td width="155">yes</td>
</tr>
<tr>
<td width="155">_cfduid</td>
<td width="155">It allows safe use of online store and purchase of products</td>
<td width="155"><strong>cloudflare.com</strong></td>
<td width="155">yes</td>
</tr>
</tbody>
</table>
<ul>
<li>Our Site uses analytics services provided by Google Analytics. Website analytics refers to a set of tools used to collect and analyse anonymous usage information, enabling Us to better understand how Our Site is used. This, in turn, enables Us to improve Our Site and the products and services offered through it. You do not have to allow Us to use these Cookies, however, whilst Our use of them does not pose any risk to your privacy or your safe use of Our Site, it does enable Us to continually improve Our Site, making it a better and more useful experience for you.</li>
<li>The analytics service(s) used by Our Site use(s) analytics Cookies to gather the required information.</li>
<li>The analytics service(s) used by Our Site use(s) the following analytics Cookies:</li>
</ul>
<h4>Consent and Control</h4>
<ul>
<li>Before Cookies are placed on your computer or device, you will be shown a pop-up requesting your consent to set those Cookies. By giving your consent to the placing of Cookies you are enabling Us to provide the best possible experience and service to you. You may, if you wish, deny consent to the placing of Cookies, unless those Cookies are strictly necessary;</li>
<li>In addition to the controls that We provide, you can choose to enable or disable Cookies in your internet browser. Most internet browsers also enable you to choose whether you wish to disable all Cookies or only third-party Cookies. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser or the documentation that came with your device.</li>
<li>The links below provide instructions on how to control Cookies in all mainstream browsers:
<ul>
<li>Google Chrome:&nbsp;<a href="https://support.google.com/chrome/answer/95647?hl=en-GB">https://support.google.com/chrome/answer/95647?hl=en-GB</a></li>
<li>Microsoft Internet Explorer:&nbsp;<a href="https://support.microsoft.com/en-us/kb/278835">https://support.microsoft.com/en-us/kb/278835</a></li>
<li>Microsoft Edge:&nbsp;<a href="https://support.microsoft.com/en-gb/products/microsoft-edge">https://support.microsoft.com/en-gb/products/microsoft-edge</a>&nbsp;(Please note that there are no specific instructions at this time, but Microsoft support will be able to assist)</li>
<li>Safari (iOS):&nbsp;<a href="https://support.apple.com/en-gb/HT201265">https://support.apple.com/en-gb/HT201265</a></li>
<li>Mozilla Firefox:&nbsp;<a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-Cookies-website-preferences</a></li>
<li>Android:&nbsp;<a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=en">https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=en</a>&nbsp;(Please refer to your device&rsquo;s documentation for manufacturers&rsquo; own browsers)</li>
</ul>
</li>
</ul>
<h4>Changes to this Cookie Policy</h4>
<ul>
<li>We may alter this Cookie Policy at any time. If We do so, details of the changes will be highlighted at the top of this page. Any such changes will become binding on you on your first use of Our Site after the changes have been made. You are therefore advised to check this page from time to time.</li>
<li>In the event of any conflict between the current version of this Cookie Policy and any previous version(s), the provisions current and in effect shall prevail unless it is expressly stated otherwise.</li>
</ul>
<h4>Further Information</h4>
<ul>
<li>If you would like to know more about how We use Cookies, please contact Us at&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>, by telephone on +44 (0)7340 001466</li>
<li>For more information about privacy, data protection and our terms and conditions, please visit the following:
<ul>
<li><a href="https://www.attegagroup.com/privacy-policy">Privacy Policy</a>;</li>
<li><a href="https://www.attegagroup.com/terms-and-conditions/">Terms and Conditions</a>.</li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block body_end %}

{% endblock %}
