{% extends "base.twig" %}

{% block content %}

<div class="my_container cookie_page">
    <div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<h1>Privacy Policy</h1>
</div>
</div>
</div>
</div>
<div class="et_pb_row et_pb_row_1">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">Attega Group Ltd understands that your privacy is important to you and that you care about how your personal data is used. We respect and value the privacy of all of our customers and will only collect and use personal data in ways that are described here, and in a way that is consistent with our obligations and your rights under the law.
<p>&nbsp;</p>
<p><strong>Information About Us</strong></p>
<p>Attega Group Ltd is registered in England under company number<strong>&nbsp;3380971</strong>. The registered address is Suite 60, Port View, One Port Way, Port Solent, Portsmouth, PO6 4TY VAT number:&nbsp;<strong>699169756</strong>&nbsp;The communication department team is responsible of the Data Protection and can be reached by email address at&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>&nbsp;or by telephone at the number +44 (0)7340 001466.</p>
<p><strong>What Does This Notice Cover?</strong></p>
<p>This Privacy Information explains how we use your personal data: how it is collected, how it is held, and how it is processed. It also explains your rights under the law relating to your personal data.</p>
<p><strong>What is Personal Data?</strong></p>
<p>Personal data is defined by the General Data Protection Regulation (EU Regulation 2016/679) (the &ldquo;GDPR&rdquo;) as &lsquo;any information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier&rsquo;. Personal data is, in simpler terms, any information about you that enables you to be identified. Personal data covers obvious information such as your name and contact details, but it also covers less obvious information such as identification numbers, electronic location data, and other online identifiers. The personal data that we use is set out in Part 5, below.</p>
<p><strong>What Are My Rights?</strong></p>
<p>Under the GDPR, you have the following rights, which we will always work to uphold:</p>
<ul>
<li>The right to be informed about our collection and use of your personal data. This Privacy Notice should tell you everything you need to know, but you can always contact us to find out more or to ask any questions.</li>
<li>The right to access the personal data we hold about you. Part 10 will tell you how to do this.</li>
<li>The right to have your personal data rectified if any of your personal data held by us is inaccurate or incomplete. Please contact us using the details in Part 11 to find out more.</li>
<li>The right to be forgotten, i.e. the right to ask us to delete or otherwise dispose of any of your personal data that we have. Please contact us using the details in Part 11 to find out more.</li>
<li>The right to restrict (i.e. prevent) the processing of your personal data.</li>
<li>The right to object to us using your personal data for a particular purpose or purposes.</li>
</ul>
<p>The right to data portability. This means that, if you have provided personal data to us directly, we am using it with your consent or for the performance of a contract, and that data is processed using automated means, you can ask us for a copy of that personal data to re-use with another service or business in many cases.</p>
<p>Rights relating to automated decision-making and profiling. Part 6 explains more about how we use your personal data, including automated decision-making.</p>
<p>For more information about our use of your personal data or exercising your rights as outlined above, please contact us using the details provided in Part 11. Further information about your rights can also be obtained from the Information Commissioner&rsquo;s Office or your local Citizens Advice Bureau. If you have any cause for complaint about our use of your personal data, you have the right to lodge a complaint with the Information Commissioner&rsquo;s Office.</p>
<p><strong>What Personal Data Do You Collect?</strong></p>
<p>We may collect some or all of the following personal data (this may vary according to your relationship with us):</p>
<ul>
<li>Name;</li>
<li>Address;</li>
<li>Email address;</li>
<li>Business name;</li>
<li>Job title;</li>
<li>Profession;</li>
<li>Information about your preferences and interests;</li>
<li>IP address;</li>
<li>Web browser type and version;</li>
<li>Operating system;</li>
<li>A list of URLs starting with a referring site, your activity on Our Site and the site you exit to;</li>
<li>Number of entries on our site</li>
</ul>
<p><strong>How Do You Use My Personal Data?</strong></p>
<p>Under the GDPR, we must always have a lawful basis for using personal data. This may be because the data is necessary for our performance of a contract with you, because you have consented to our use of your personal data, or because it is in our legitimate business interests to use it. Your personal data may be used for one of the following purposes:</p>
<ul>
<li>Providing and managing your account.</li>
<li>Personalising and tailoring our products and/or services for you.</li>
<li>Supplying you with information by email that you have opted-in to (you may unsubscribe or opt-out at any time by emailing&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>)</li>
<li>Analysing your use of Our Site and gathering feedback to enable us to continually improve Our Site and your user experience.</li>
</ul>
<p>With your permission and/or where permitted by law, we may also use your personal data for marketing purposes, which may include contacting you by email and/or post with information, news, and offers on our products. You will not be sent any unlawful marketing or spam. We will always work to fully protect your rights and comply with our obligations under the GDPR and the Privacy and Electronic Communications (EC Directive) Regulations 2003, and you will always have the opportunity to opt-out. We use the following automated systems for carrying out certain kinds of decision-making and profiling. If at any point you wish to query any action that we take on the basis of this or wish to request &lsquo;human intervention&rsquo; (i.e. have someone review the action themselves, rather than relying only on the automated method), the GDPR gives you the right to do so. Please contact us to find out more using the details in Part 11.</p>
<p>The following automated decision-making method(s) may be used:</p>
<p>You will be required to create an online account with us through Our Site when you decide to add products to a wish list</p>
<p><strong>How Long Will You Keep My Personal Data?</strong></p>
<p>We will only store or transfer your personal data in the UK. This means that it will be protected under GDPR. &nbsp; We may share your data within the group of companies of which we are a part of. Where this involves the transfer of personal data outside the EEA, our group ensures that personal data is protected by requiring all companies within the group to follow the same rules with respect to personal data usage. These are known as &ldquo;binding corporate rules&rdquo;. More information on binding corporate rules is available from the European Commission. We may use specific contracts with external third parties that are approved by the European Commission for the transfer of personal data to third countries. These contracts ensure the same levels of personal data protection that would apply under the GDPR. More information is available from the European Commission. Please contact us using the details below in Part 15 for further information about the particular data protection mechanism used by us when transferring your personal data to a third country. The security of your personal data is essential to us, and to protect your data, we take a number of important measures, including the following:</p>
<ul>
<li>Our database is secured and protected</li>
<li>Backup storage is carried out periodically</li>
</ul>
<p><strong>Do You Share My Personal Data?</strong></p>
<p>We will not share any of your personal data with any third parties for any purposes, subject to one or more important exceptions. In some limited circumstances, we may be legally required to share certain personal data, which might include yours, if we are involved in legal proceedings or complying with legal obligations, a court order, or the instructions of a government authority. We may sometimes contract with third parties to supply certain products and services. These may include payment processing, delivery and marketing. In some cases, those third parties may require access to some or all of your personal data that we hold. If any of your personal data is required by a third party, as described above, we will take steps to ensure that your personal data is handled safely, securely, and in accordance with your rights, our obligations, and the third party&rsquo;s obligations under the law, as described above. If any personal data is transferred outside of the EEA, we will take suitable steps in order to ensure that your personal data is treated just as safely and securely as it would be within the UK and under the GDPR, as explained above.</p>
<p><strong>How Can I Access My Personal Data?</strong></p>
<p>If you want to know what personal data we have about you, you can ask us for details of that personal data and for a copy of it (where any such personal data is held). This is known as a &ldquo;subject access request&rdquo;. All subject access requests should be made in writing and sent to the email or postal addresses shown in Part 11. There is not normally any charge for a subject access request. If your request is &lsquo;manifestly unfounded or excessive&rsquo; (for example, if you make repetitive requests) a fee may be charged to cover our administrative costs in responding. We will respond to your subject access request within 5 business days and, in any case, no more than one month of receiving it. Normally, we aim to provide a complete response, including a copy of your personal data within that time. In some cases, however, particularly if your request is more complex, more time may be required up to a maximum of three months from the date we receive your request. You will be kept fully informed of our progress.</p>
<p><strong>How Do I Contact You?</strong></p>
<p>To contact us about anything to do with your personal data and data protection, including to make a subject access request, please use the following details (for the attention of the Communication Manager): Email address:&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>&nbsp;Telephone number: +44 (0)7340 001466.</p>
<p><strong>Changes to this Privacy Notice</strong></p>
<p>We may change this Privacy Notice from time to time. This may be necessary, for example, if the law changes, or if we change our business in a way that affects personal data protection. Any changes will be made available on Our Site&nbsp;<a href="https://www.attegagroup.com/">www.</a><a href="mailto:info@attegagroup.com">attegagroup.com</a>&nbsp;or through email or post.</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block body_end %}

{% endblock %}
