{% extends "base.twig" %}

{% block content %}

<div class="my_container cookie_page">
    <div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<h1>Terms &amp; Conditions</h1>
</div>
</div>
</div>
</div>
<div class="et_pb_row et_pb_row_1">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">These Terms and Conditions, together with any and all other documents referred to herein, set out the terms of use under which you may use this website,&nbsp;<a href="https://www.attegagroup.com/">www.attegagroup.com</a>&nbsp;(&ldquo;Our Site&rdquo;).&nbsp; Please read these Terms and Conditions carefully and ensure that you understand them.&nbsp; Your agreement to comply with and be bound by these Terms and Conditions is deemed to occur upon your first use of Our Site.&nbsp; If you do not agree to comply with and be bound by these Terms and Conditions, you must stop using Our Site immediately.
<p>&nbsp;</p>
<p><strong>Definitions</strong><strong>&nbsp;and Interpretation</strong></p>
<ul>
<li>In these Terms and Conditions, unless the context otherwise requires, the following expressions have the following meanings:</li>
</ul>
<table border="0" cellpadding="0">
<tbody>
<tr>
<td width="196"><strong>&ldquo;Content&rdquo;</strong></td>
<td width="364">Means any and all text, images, audio, video, scripts, code, software, databases and any other form of information capable of being stored on a computer that appears on, or forms part of, Our Site; and</td>
</tr>
<tr>
<td width="196"><strong>&ldquo;We/Us/Our&rdquo;</strong></td>
<td width="364">Means Attega Group Ltd, a limited company registered in England under&nbsp;<strong>338 0971</strong>, whose registered address is Suite 60, Port View, One Port Way, Port Solent, Portsmouth, P06 4TY and whose main trading address is<strong>&nbsp;</strong>as above.</td>
</tr>
</tbody>
</table>
<p><strong>Information</strong><strong>&nbsp;About Us</strong></p>
<ul>
<li>Our Site,&nbsp;<a href="https://www.attegagroup.com/">www.attegagroup.com</a>, is operated by Attega Group Ltd, a limited company registered in England under&nbsp;<strong>338 0971</strong>, whose registered address is Suite 60, Port View, One Port Way, Port Solent, Portsmouth, P06 4TY and whose main trading address is<strong>&nbsp;</strong>as above. Our VAT number is&nbsp;<strong>699 169 756</strong>.</li>
</ul>
<p><strong>Access</strong><strong>&nbsp;to Our Site</strong></p>
<ul>
<li>Access to Our Site is free of charge.</li>
</ul>
<ul>
<li>It is your responsibility to make any and all arrangements necessary in order to access Our Site.</li>
</ul>
<ul>
<li>Access to Our Site is provided &ldquo;as is&rdquo; and on an &ldquo;as available&rdquo; basis. We may alter, suspend or discontinue Our Site (or any part of it) at any time and without notice.&nbsp; We will not be liable to you in any way if Our Site (or any part of it) is unavailable at any time and for any period.</li>
</ul>
<p><strong>Intellectual</strong><strong>&nbsp;Property Rights</strong></p>
<ul>
<li>All Content included on Our Site and the copyright and other intellectual property rights subsisting in that Content, unless specifically labelled otherwise, belongs to or has been licensed by Us. All Content is protected by applicable United Kingdom and international intellectual property laws and treaties.</li>
</ul>
<ul>
<li>Subject to sub-Clauses<strong>&nbsp;</strong>3 and 4.6&nbsp;you may not reproduce, copy, distribute, sell, rent, sub-licence, store, or in any other manner re-use Content from Our Site unless given express written permission to do so by Us.</li>
</ul>
<p>You may:</p>
<ul>
<li>Access, view and use Our Site in a web browser (including any web browsing capability built into other types of software or app);</li>
</ul>
<ul>
<li>Download Our Site (or any part of it) for caching;</li>
</ul>
<ul>
<li>Print one copy of any<strong>&nbsp;</strong>page<strong>[</strong>s<strong>]</strong>&nbsp;from Our Site;</li>
</ul>
<ul>
<li>Download extracts from pages on Our Site; and</li>
</ul>
<ul>
<li>Save pages from Our Site for later and/or offline viewing.</li>
</ul>
<ul>
<li>Our status as the owner and author of the Content on Our Site (or that of identified licensors, as appropriate) must always be acknowledged.</li>
</ul>
<ul>
<li>You may not use any Content saved or downloaded from Our Site for commercial purposes without first obtaining a licence from Us (or our licensors, as appropriate) to do so. This does not prohibit the normal access, viewing and use of Our Site for general information purposes whether by business users or consumers.</li>
</ul>
<p class="text-block">Nothing in these Terms and Conditions limits or excludes the provisions of Chapter III of the Copyrights, Designs and Patents Act 1988 &lsquo;Acts Permitted in Relation to Copyright Works&rsquo;, covering, in particular, the making of temporary copies; research and private study; the making of copies for text and data analysis for non-commercial research; criticism, review, quotation and news reporting; caricature, parody or pastiche; and the incidental inclusion of copyright material.</p>
<p><strong>Links</strong><strong>&nbsp;to Our Site</strong></p>
<p>You may link to Our Site provided that:</p>
<ul>
<li>You do so in a fair and legal manner;</li>
</ul>
<ul>
<li>You do not do so in a manner that suggests any form of association, endorsement or approval on Our part where none exists;</li>
</ul>
<ul>
<li>You do not use any logos or trademarks displayed on Our Site without Our express written permission; and</li>
</ul>
<ul>
<li>You do not do so in a way that is calculated to damage Our reputation or to take unfair advantage of it.</li>
</ul>
<ul>
<li>You may link to any page of Our Site.</li>
</ul>
<p>You may not link to Our Site from any other site the main content of which contains material that:</p>
<ul>
<li>is sexually explicit;</li>
</ul>
<ul>
<li>is obscene, deliberately offensive, hateful or otherwise inflammatory;</li>
</ul>
<ul>
<li>promotes violence;</li>
</ul>
<ul>
<li>promotes or assists in any form of unlawful activity;</li>
</ul>
<ul>
<li>discriminates against, or is in any way defamatory of, any person, group or class of persons, race, sex, religion, nationality, disability, sexual orientation, or age;</li>
</ul>
<ul>
<li>is intended or is otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person;</li>
</ul>
<ul>
<li>is calculated or is otherwise likely to deceive another person;</li>
</ul>
<ul>
<li>is intended or is otherwise likely to infringe (or to threaten to infringe) another person&rsquo;s privacy;</li>
</ul>
<ul>
<li>misleadingly impersonates any person or otherwise misrepresents the identity or affiliation of a particular person in a way that is calculated to deceive (obvious parodies are not included in this definition provided that they do not fall within any of the other provisions of this sub-Clause 5.4);</li>
</ul>
<ul>
<li>implies any form of affiliation with Us where none exists;</li>
</ul>
<ul>
<li>infringes, or assists in the infringement of, the intellectual property rights (including, but not limited to, copyright, trademarks and database rights) of any other party; or</li>
</ul>
<ul>
<li>is made in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.</li>
</ul>
<p>The content restrictions in sub-Clause 5.4 do not apply to content submitted to sites by other users provided that the primary purpose of the site accords with the provisions of sub-Clause 5.4. You are not, for example, prohibited from posting links on general-purpose social networking sites merely because another user may post such content.&nbsp; You are, however, prohibited from posting links on websites which focus on or encourage the submission of such content from users.</p>
<p><strong>Links</strong><strong>&nbsp;to Other Sites</strong></p>
<p>Links to other sites may be included on Our Site.&nbsp; Unless expressly stated, these sites are not under Our control.&nbsp; We neither assume nor accept responsibility or liability for the content of third-party sites.&nbsp; The inclusion of a link to another site on Our Site is for information only and does not imply any endorsement of the sites themselves or of those in control of them.</p>
<p><strong>Disclaimers</strong></p>
<ul>
<li>Nothing on Our Site constitutes advice on which you should rely. It is provided for general information purposes only.&nbsp;&nbsp;<strong>[</strong>Professional or specialist advice should always be sought before taking any action relating to the products and services provided by the company.</li>
</ul>
<ul>
<li>Insofar as is permitted by law, We make no representation, warranty, or guarantee that Our Site will meet your requirements, that it will not infringe the rights of third parties, that it will be compatible with all software and hardware, or that it will be secure.</li>
</ul>
<ul>
<li>We make reasonable efforts to ensure that the Content on Our Site is complete, accurate, and up-to-date. We do not, however, make any representations, warranties or guarantees (whether express or implied) that the Content is complete, accurate, or up-to-date.</li>
</ul>
<p><strong>Our Liability</strong></p>
<ul>
<li>To the fullest extent permissible by law, We accept no liability to any user for any loss or damage, whether foreseeable or otherwise, in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising out of or in connection with the use of (or inability to use) Our Site or the use of or reliance upon any Content included on Our Site.</li>
</ul>
<ul>
<li>To the fullest extent permissible by law, We exclude all representations, warranties, and guarantees (whether express or implied) that may apply to Our Site or any Content included on Our Site.</li>
</ul>
<ul>
<li>If you are a business user, We accept no liability for loss of profits, sales, business or revenue; loss of business opportunity, goodwill or reputation; loss of anticipated savings; business interruption; or for any indirect or consequential loss or damage.</li>
</ul>
<ul>
<li>We exercise all reasonable skill and care to ensure that Our Site is free from viruses and other malware. We accept no liability for any loss or damage resulting from a virus or other malware, a distributed denial of service attack, or other harmful material or event that may adversely affect your hardware, software, data or other material that occurs as a result of your use of Our Site (including the downloading of any Content from it) or any other site referred to on Our Site.</li>
</ul>
<ul>
<li>We neither assume nor accept responsibility or liability arising out of any disruption or non-availability of Our Site resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, natural events, acts of war, or legal restrictions and censorship.</li>
</ul>
<ul>
<li>Nothing in these Terms and Conditions excludes or restricts Our liability for fraud or fraudulent misrepresentation, for death or personal injury resulting from negligence, or for any other forms of liability which cannot be excluded or restricted by law. For full details of consumers&rsquo; legal rights, including those relating to digital content, please contact your local Citizens&rsquo; Advice Bureau or Trading Standards Office.</li>
</ul>
<p><strong>Viruses,&nbsp;</strong><strong>Malware</strong><strong>&nbsp;and Security</strong></p>
<ul>
<li>We exercise all reasonable skill and care to ensure that Our Site is secure and free from viruses and other malware.</li>
</ul>
<ul>
<li>You are responsible for protecting your hardware, software, data and other material from viruses, malware, and other internet security risks.</li>
</ul>
<ul>
<li>You must not deliberately introduce viruses or other malware, or any other material which is malicious or technologically harmful either to or via Our Site.</li>
</ul>
<ul>
<li>You must not attempt to gain unauthorised access to any part of Our Site, the server on which Our Site is stored, or any other server, computer, or database connected to Our Site.</li>
</ul>
<ul>
<li>You must not attack Our Site by means of a denial of service attack, a distributed denial of service attack, or by any other means.</li>
</ul>
<ul>
<li>By breaching the provisions of sub-Clauses 9.3 to 9.5 you may be committing a criminal offence under the Computer Misuse Act 1990. Any and all such breaches will be reported to the relevant law enforcement authorities and We will cooperate fully with those authorities by disclosing your identity to them.&nbsp; Your right to use Our Site will cease immediately in the event of such a breach.</li>
</ul>
<p><strong>Acceptable Usage Policy</strong></p>
<p>You may only use Our Site in a manner that is lawful. Specifically:</p>
<ul>
<li>you must ensure that you comply fully with any and all local, national or international laws and/or regulations;</li>
</ul>
<ul>
<li>you must not use Our Site in any way, or for any purpose, that is unlawful or fraudulent;</li>
</ul>
<ul>
<li>you must not use Our Site to knowingly send, upload, or in any other way transmit data that contains any form of virus or other malware, or any other code designed to adversely affect computer hardware, software, or data of any kind; and</li>
</ul>
<ul>
<li>you must not use Our Site in any way, or for any purpose, that is intended to harm any person or persons in any way.</li>
</ul>
<p>We reserve the right to suspend or terminate your access to Our Site if you materially breach the provisions of this Clause 10 or any of the other provisions of these Terms and Conditions. Specifically, We may take one or more of the following actions:</p>
<ul>
<li>suspend, whether temporarily or permanently, your right to access Our Site;</li>
</ul>
<ul>
<li>issue you with a written warning;</li>
</ul>
<ul>
<li>take legal proceedings against you for reimbursement of any and all relevant costs on an indemnity basis resulting from your breach;</li>
</ul>
<ul>
<li>take further legal action against you as appropriate;</li>
</ul>
<ul>
<li>disclose such information to law enforcement authorities as required or as We deem reasonably necessary; and/or</li>
</ul>
<ul>
<li>any other actions which We deem reasonably appropriate (and lawful).</li>
</ul>
<p>We hereby exclude any and all liability arising out of any actions (including, but not limited to those set out above) that We may take in response to breaches of these Terms and Conditions.</p>
<p><strong>Privacy and Cookies</strong></p>
<p>Use of Our Site is also governed by Our Cookie and Privacy Policies, available from &lt;&lt; Cookie Policy&gt;&gt; and &lt;&lt; Privacy Policy&gt;&gt;.&nbsp; These policies are incorporated into these Terms and Conditions by this reference.</p>
<p><strong>Changes to these Terms and Conditions</strong></p>
<p>We may alter these Terms and Conditions at any time. If We do so, details of the changes will be highlighted at the top of this page.&nbsp; Any such changes will become binding on you upon your first use of Our Site after the changes have been implemented.&nbsp; You are therefore advised to check this page from time to time.</p>
<p>In the event of any conflict between the current version of these Terms and Conditions and any previous version(s), the provisions current and in effect shall prevail unless it is expressly stated otherwise.</p>
<p><strong>Contacting Us</strong></p>
<p>To contact Us, please email Us at&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>&nbsp;or using any of the methods provided on Our contact page at&nbsp;<a href="https://www.attegagroup.com/contact-us/">https://www.attegagroup.com/contact-us/</a>.</p>
<p><strong>Communications from Us</strong></p>
<ul>
<li>If We have your contact details, We may from time to time send you important notices by email. Such notices may relate to matters including, but not limited to, service changes and changes to these Terms and Conditions.</li>
</ul>
<ul>
<li>We will never send you marketing emails of any kind without your express consent. If you do give such consent, you may opt-out at any time.&nbsp; Any and all marketing emails sent by Us include an unsubscribe link.&nbsp; If you opt-out of receiving emails from Us at any time, it may take up to two business days for Us to comply with your request.&nbsp; During that time, you may continue to receive emails from Us.</li>
</ul>
<ul>
<li>For questions or complaints about communications from Us (including, but not limited to marketing emails), please contact Us at&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>&nbsp;or via
<ul>
<li>For questions or complaints about communications from Us (including, but not limited to marketing emails), please contact Us at&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>&nbsp;or via&nbsp;<a href="https://www.attegagroup.com/contact-us/">https://www.attegagroup.com/contact-us/</a>.</li>
</ul>
<p><strong>Data Protection</strong></p>
</li>
</ul>
<ul>
<li>Any and all personal information that We may collect will be collected, used and held in accordance with the provisions of the Data Protection Act 1998 and your rights and Our obligations under that Act.</li>
</ul>
<ul>
<li>We may use your personal information to:</li>
</ul>
<ul>
<li>Reply to any communications you send to Us;</li>
</ul>
<ul>
<li>Send you important notices, as detailed in Clause 14;</li>
</ul>
<ul>
<li>We will not pass on your personal information to any third parties.</li>
</ul>
<p><strong>Law and Jurisdiction</strong>&nbsp;These Terms and Conditions, and the relationship between you and Us (whether contractual or otherwise) shall be governed by, and construed in accordance with, English law.</p>
<p>If you are a consumer, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith (whether contractual or otherwise) shall be subject to the jurisdiction of the courts of England, Wales, Scotland, or Northern Ireland, as determined by your residency.</p>
<p>If you are a business, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith (whether contractual or otherwise) shall be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block body_end %}

{% endblock %}