{% extends "base.twig" %}

{% block content %}

<div class="my_container cookie_page">
    <div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<h1>Web &amp; Cookie Policy</h1>
</div>
</div>
</div>
</div>
<div class="et_pb_row et_pb_row_1">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<p><strong>BACKGROUND:</strong></p>
<p>Attega Group Ltd understands that your privacy is important to you and that you care about how your personal data is used. We respect and value the privacy of everyone who visits this website,&nbsp;<a href="https://www.attegagroup.com/">https://www.attegagroup.com/</a>&nbsp;(&ldquo;Our Site&rdquo;) and will only collect and use personal data in ways that are described here, and in a way that is consistent with our obligations and your rights under the law.</p>
<p>Please read this Privacy Policy carefully and ensure that you understand it. Your acceptance of this Privacy Policy is deemed to occur upon your first use of Our Site and you will be required to read and accept this Privacy Policy when signing up for an Account. If you do not accept and agree with this Privacy Policy, you must stop using Our Site immediately.</p>
<p><strong>Definitions and Interpretation</strong></p>
<p>In this Policy the following terms shall have the following meanings:</p>
<table>
<tbody>
<tr>
<td width="193"><strong>&ldquo;Account&rdquo;</strong></td>
<td width="361">means an account required to access and/or use certain areas and features of Our Site;</td>
</tr>
<tr>
<td width="193"><strong>&ldquo;Cookie&rdquo;</strong></td>
<td width="361">means a small text file placed on your computer or device by Our Site when you visit certain parts of Our Site and/or when you use certain features of Our Site. Details of the Cookies used by Our Site are set out in Part 14, below; and</td>
</tr>
<tr>
<td width="193"><strong>&ldquo;Cookie Law&rdquo;</strong></td>
<td width="361">means the relevant parts of the Privacy and Electronic Communications (EC Directive) Regulations 2003;</td>
</tr>
</tbody>
</table>
<p><strong>Information About Us</strong></p>
<p>Our Site is owned and operated by Attega Group Ltd, registered in England under company number&nbsp;<strong>3380971</strong>. Registered address:&nbsp;Suite 60, Port View, One Port Way, Port Solent, Portsmouth, P06 4TY VAT number:&nbsp;<strong>699169756</strong>&nbsp;Email address:&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>&nbsp;Telephone number: +44 (0)7340 001466</p>
<p><strong>What Does This Policy Cover?</strong></p>
<p>This Privacy Policy applies only to your use of Our Site. Our Site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.</p>
<p><strong>What is Personal Data?</strong></p>
<p>Personal data is defined by the General Data Protection Regulation (EU Regulation 2016/679) (the &ldquo;GDPR&rdquo;) as &lsquo;any information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier&rsquo;. Personal data is, in simpler terms, any information about you that enables you to be identified. Personal data covers obvious information such as your name and contact details, but it also covers less obvious information such as identification numbers, electronic location data, and other online identifiers.</p>
<p><strong>What Are My Rights?</strong></p>
<ul>
<li>Under the GDPR, you have the following rights, which we will always work to uphold:</li>
<li>The right to be informed about our collection and use of your personal data. This Privacy Policy should tell you everything you need to know, but you can always contact us to find out more or to ask any questions using the details in Part 15.</li>
<li>The right to access the personal data we hold about you. Part 13 will tell you how to do this.</li>
<li>The right to have your personal data rectified if any of your personal data held by us is inaccurate or incomplete. Please contact us using the details in Part 15 to find out more.</li>
<li>The right to be forgotten, i.e. the right to ask us to delete or otherwise dispose of any of your personal data<strong>.</strong>&nbsp;Please contact us using the details in Part 15 to find out more.</li>
<li>The right to restrict (i.e. prevent) the processing of your personal data.</li>
<li>The right to object to us using your personal data for a particular purpose or purposes.</li>
<li>The right to data portability. This means that, if you have provided personal data to us directly, we are using it with your consent or for the performance of a contract, and that data is processed using automated means, you can ask us for a copy of that personal data to re-use with another service or business in many cases.</li>
<li>Rights relating to automated decision-making and profiling. We do not use your personal data in this way.</li>
</ul>
<p>For more information about our use of your personal data or exercising your rights as outlined above, please contact us using the details provided in Part 15. Further information about your rights can also be obtained from the Information Commissioner&rsquo;s Office or your local Citizens Advice Bureau. If you have any cause for complaint about our use of your personal data, you have the right to lodge a complaint with the Information Commissioner&rsquo;s Office.</p>
<p><strong>What Data Do We Collect?</strong></p>
<p>Depending upon your use of Our Site, we may collect some or all of the following personal data (please also see Part 14 on our use of Cookies and similar technologies and our&nbsp;<a href="https://www.attegagroup.com/cookie-policy">Cookie Policy</a>: Name;</p>
<ul>
<li>Address;</li>
<li>Email address;</li>
<li>Telephone number;</li>
<li>Business name;</li>
<li>Job title;</li>
<li>Profession;</li>
<li>Payment information;</li>
<li>Information about your preferences and interests;</li>
<li>IP address;</li>
<li>Web browser type and version;</li>
<li>Operating system;</li>
<li>A list of URLs starting with a referring site, your activity on Our Site, and the site you exit to;</li>
<li>Number of entries on Our Site.</li>
</ul>
<p><strong>How Do You Use My Personal Data?</strong></p>
<p>Under the GDPR, we must always have a lawful basis for using personal data. This may be because the data is necessary for our performance of a contract with you, because you have consented to our use of your personal data, or because it is in our legitimate business interests to use it. Your personal data will be used for one or more of the following purposes:</p>
<ul>
<li>Providing and managing your Account;</li>
<li>Providing and managing your access to Our Site<strong>;</strong></li>
<li>Personalising and tailoring your experience on Our Site;</li>
<li>Supplying our products and services to you. Your personal details are required in order for us to enter into a contract with you.</li>
<li>Personalising and tailoring our products and services for you.</li>
<li>Communicating with you. This may include responding to emails or calls from you.</li>
<li>Supplying you with information by email and/or post that you have opted-in to (you may unsubscribe or opt-out at any time by emailing&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>).</li>
<li>Analysing your use of Our Site and gathering feedback to enable us to continually improve Our Site and your user experience.</li>
</ul>
<p>With your permission and/or where permitted by law, we may also use your personal data for marketing purposes, which may include contacting you by email and/or post with information, news, and offers on our products and services. You will not be sent any unlawful marketing or spam. We will always work to fully protect your rights and comply with our obligations under the GDPR and the Privacy and Electronic Communications (EC Directive) Regulations 2003, and you will always have the opportunity to opt-out. Third Parties whose content appears on Our Site may use third-party Cookies, as detailed below in Part 14.</p>
<p>Please refer to Part 14 for more information on controlling cookies. Please note that we do not control the activities of such third parties, nor the data that they collect and use themselves, and we advise you to check the privacy policies of any such third parties. We use the following automated systems for carrying out certain kinds of decision-making or profiling. If at any point you wish to query any action that we take on the basis of this or wish to request &lsquo;human intervention&rsquo; (i.e. have someone review the action themselves, rather than relying only on the automated method), the GDPR gives you the right to do so. Please contact us to find out more using the details in Part 15. The following automated decision-making method(s) may be used:</p>
<ul>
<li>When adding products to a wish list, an account is required which will use your personal details and allow us to see what products you desire.</li>
</ul>
<p><strong>How Long Will You Keep My Personal Data?</strong></p>
<p>We will not keep your personal data for any longer than is necessary in light of the reason(s) for which it was first collected. Your personal data will therefore be kept for the following periods (or, where there is no fixed period, the following factors will be used to determine how long it is kept):</p>
<ul>
<li>We will review our data on an yearly base to ensure all our records are kept updated with the current data protection law.</li>
</ul>
<p><strong>How and Where Do You Store or Transfer My Personal Data?</strong></p>
<p>We will only store or transfer your personal data in the UK. This means that it will be fully protected under the GDPR. We may share your data within the group of companies of which we are a part of. Where this involves the transfer of personal data outside the EEA, our group ensures that personal data is protected by requiring all companies within the group to follow the same rules with respect to personal data usage. These are known as &ldquo;binding corporate rules&rdquo;. More information on binding corporate rules is available from the&nbsp;<a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/binding-corporate-rules_en">European Commission</a>. We may use specific contracts with external third parties that are approved by the European Commission for the transfer of personal data to third countries. These contracts ensure the same levels of personal data protection that would apply under the GDPR. More information is available from the&nbsp;<a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/model-contracts-transfer-personal-data-third-countries_en">European Commission</a>. Please contact us using the details below in Part 15 for further information about the particular data protection mechanism used by us when transferring your personal data to a third country. The security of your personal data is essential to us, and to protect your data, we take a number of important measures, including the following:</p>
<ul>
<li>Our database is secured and protected and</li>
<li>Backup storage is carried out periodically.</li>
</ul>
<p><strong>Do You Share My Personal Data?</strong></p>
<p>We will not share any of your personal data with any third parties for any purposes, subject to one important exception. In some limited circumstances, we may be legally required to share certain personal data, which might include yours, if we are involved in legal proceedings or complying with legal obligations, a court order, or the instructions of a government authority. We may sometimes contract with third parties to supply certain products and/or services. These may include payment processing, delivery, and marketing. In some cases, those third parties may require access to some or all of your personal data that we hold. If any of your personal data is required by a third party, as described above, we will take steps to ensure that your personal data is handled safely, securely, and in accordance with your rights, our obligations, and the third party&rsquo;s obligations under the law, as described above in Part 9. If any personal data is transferred outside of the EEA, we will take suitable steps in order to ensure that your personal data is treated just as safely and securely as it would be within the UK and under the GDPR, as explained above in Part 9. In some limited circumstances, we may be legally required to share certain personal data, which might include yours, if we are involved in legal proceedings or complying with legal obligations, a court order, or the instructions of a government authority.</p>
<p><strong>How Can I Control My Personal Data?</strong></p>
<ul>
<li>
<ul>
<li>In addition to your rights under the GDPR, set out in Part 5, when you submit personal data via Our Site, you may be given options to restrict our use of your personal data. In particular, we aim to give you strong controls on our use of your data for direct marketing purposes (including the ability to opt-out of receiving emails from us which you may do by unsubscribing using the links provided in our emails or at the point of providing your details and by managing your Account).</li>
<li>You may also wish to sign up to one or more of the preference services operating in the UK: The Telephone Preference Service (&ldquo;the TPS&rdquo;), the Corporate Telephone Preference Service (&ldquo;the CTPS&rdquo;), and the Mailing Preference Service (&ldquo;the MPS&rdquo;). These may help to prevent you receiving unsolicited marketing. Please note, however, that these services will not prevent you from receiving marketing communications that you have consented to receiving.</li>
</ul>
</li>
</ul>
<p><strong>Can I Withhold Information?</strong></p>
<p>You may access certain areas of Our Site without providing any personal data at all. However, to use all features and functions available on Our Site you may be required to submit or allow for the collection of certain data. You may restrict our use of Cookies. For more information, see Part 14 and our&nbsp;<a href="https://www.attegagroup.com/cookie-policy">Cookie Policy.</a></p>
<p><strong>How Can I Access My Personal Data?</strong></p>
<p>If you want to know what personal data we have about you, you can ask us for details of that personal data and for a copy of it (where any such personal data is held). This is known as a &ldquo;subject access request&rdquo;. All subject access requests should be made in writing and sent to the email or postal addresses shown in Part 15. There is not normally any charge for a subject access request. If your request is &lsquo;manifestly unfounded or excessive&rsquo; (for example, if you make repetitive requests) a fee may be charged to cover our administrative costs in responding. We will respond to your subject access request within 5 business days and, in any case, not more than one month of receiving it. Normally, we aim to provide a complete response, including a copy of your personal data within that time. In some cases, however, particularly if your request is more complex, more time may be required up to a maximum of three months from the date we receive your request. You will be kept fully informed of our progress.</p>
<p><strong>How Do You Use Cookies?</strong></p>
<p>Our Site may place and access certain first-party Cookies on your computer or device. First-party Cookies are those placed directly by us and are used only by us. We use Cookies to facilitate and improve your experience of Our Site and to provide and improve our products and/or services. We have carefully chosen these Cookies and have taken steps to ensure that your privacy and personal data is protected and respected at all times. All Cookies used by and on Our Site are used in accordance with current Cookie Law. Before Cookies are placed on your computer or device, you will be shown a pop-up requesting your consent to set those Cookies.</p>
<p>By giving your consent to the placing of Cookies you are enabling us to provide the best possible experience and service to you. You may, if you wish, deny consent to the placing of Cookies; however certain features of Our Site may not function fully or as intended. You will be given the opportunity to allow only first-party Cookies and block third-party Cookies. Certain features of Our Site depend on Cookies to function. Cookie Law deems these Cookies to be &ldquo;strictly necessary&rdquo;. These Cookies are shown in the table below. Your consent will not be sought to place these Cookies, but it is still important that you are aware of them. You may still block these Cookies by changing your internet browser&rsquo;s settings as detailed below, but please be aware that Our Site may not work properly if you do so. We have taken great care to ensure that your privacy is not at risk by allowing them. The following first-party Cookies may be placed on your computer or device:</p>
<table>
<tbody>
<tr>
<td width="158">Name of Cookie</td>
<td width="312">Purpose</td>
<td width="149">Strictly Necessary</td>
</tr>
<tr>
<td width="158">www.attegagroup.com</td>
<td width="312">Records and memorises your navigation on Our Site</td>
<td width="149">yes</td>
</tr>
<tr>
<td width="158">_atssc</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_atuvc</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_cfduid</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_hssc</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_hssrc</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_hstc</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_leadinmigrated</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_leadinutk</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">_linkedin.com</td>
<td width="312">Allows you to share content from Our Site to your personal LinkedIn account</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">AMCV_</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
<tr>
<td width="158">ELOQUA</td>
<td width="312">&nbsp;</td>
<td width="149">&nbsp;</td>
</tr>
</tbody>
</table>
<p>Our Site uses analytics services provided by Google Analytics. Website analytics refers to a set of tools used to collect and analyse anonymous usage information, enabling us to better understand how Our Site is used. This, in turn, enables us to improve Our Site and the products and/or services offered through it. The analytics service(s) used by Our Site use(s) Cookies to gather the required information. You do not have to allow us to use these Cookies, however, whilst our use of them does not pose any risk to your privacy or your safe use of Our Site, it does enable us to continually improve Our Site, making it a better and more useful experience for you. In addition to the controls that we provide, you can choose to enable or disable Cookies in your internet browser.</p>
<p>Most internet browsers also enable you to choose whether you wish to disable all Cookies or only third-party Cookies. By default, most internet browsers accept Cookies, but this can be changed. For further details, please consult the help menu in your internet browser or the documentation that came with your device. You can choose to delete Cookies on your computer or device at any time, however you may lose any information that enables you to access Our Site more quickly and efficiently including, but not limited to, login and personalisation settings. It is recommended that you keep your internet browser and operating system up-to-date and that you consult the help and guidance provided by the developer of your internet browser and manufacturer of your computer or device if you are unsure about adjusting your privacy settings.</p>
<p><strong>How Do I Contact You?</strong></p>
<p>To contact us about anything to do with your personal data and data protection, including to make a subject access request, please use the following details (for the attention of the Communication Manager): Email address:&nbsp;<a href="mailto:info@attegagroup.com">info@attegagroup.com</a>&nbsp;Telephone number: +44 (0)7340 001466</p>
<p><strong>Changes to this Privacy Policy</strong></p>
<p>We may change this Privacy Notice from time to time. This may be necessary, for example, if the law changes, or if we change our business in a way that affects personal data protection. Any changes will be immediately posted on Our Site and you will be deemed to have accepted the terms of the Privacy Policy on your first use of Our Site following the alterations. We recommend that you check this page regularly to keep up-to-date.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block body_end %}

{% endblock %}
