@media (-webkit-device-pixel-ratio: 1.25) {
  html {
    zoom: 0.8;
  }
}
body {
  margin: 0;
  font-family: Arial;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 29px;
  font-weight: bold;
}

h4 {
  font-size: 21px;
  font-weight: bold;
}

p {
  font-size: 21px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  color: white;
  font-size: 28px;
  border: 0;
  cursor: pointer;
  background-image: linear-gradient(#FFAE00 0%, #FF8103 100%);
}
.btn--small {
  font-size: 21px;
  padding: 18px 29px;
}
.btn--longsmall {
  width: 208px;
  height: 35px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(#FFAE00 0%, #FF8103 100%);
}

.attega_center {
  text-align: center;
}

.my_container {
  width: 1354px;
  margin: 0 auto;
}

.cookie_page {
  padding: 175px 0 75px;
}
.cookie_page h1 {
  color: black;
  font-size: 29px;
  text-align: center;
}

.medium_hero {
  box-sizing: border-box;
  padding-top: 274px;
  padding-bottom: 171px;
  background-color: grey;
}
.medium_hero h1 {
  text-align: center;
  margin: 0;
}

.phoneright_textleft_area {
  padding: 86px 0;
  background-color: #313131;
  color: white;
}
.phoneright_textleft_area .phoneright_textleft__left {
  padding-right: 40px;
  width: 70%;
  box-sizing: border-box;
}

.btn:hover {
  background-image: none;
  background-color: black;
}

.fourohfour_page {
  padding: 200px 0 150px 0;
  color: black;
}
.fourohfour_page h1 {
  font-size: 30px;
  color: black;
}

.oscp {
  background-color: #F2F2F2;
}

.my_container.oscp_after {
  margin-top: -45px;
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #121212;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 182px 0;
  z-index: 100;
  opacity: 0.98;
}

.nav_inner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  padding-bottom: 18px;
}

.nav a:hover {
  text-decoration: none;
}

.nav_inner .nav__telephonebutton {
  margin: 0 auto;
  margin-bottom: 42px;
  width: 270px;
  background-image: linear-gradient(#FFAE00 0%, #FF8103 100%);
  border: 0;
  height: 41px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 0;
  font-size: 23px;
  font-weight: 400;
  justify-content: center;
}

.nav_menu_close_icon {
  position: absolute;
  top: 43px;
  right: 7.5%;
  cursor: pointer;
  width: 32px;
  height: 26px;
  transform: scale(1);
  transition: transform 0.3s;
}

.nav_logo_mobile {
  position: absolute;
  top: 43px;
  left: 7.5%;
  cursor: pointer;
  width: 200px;
}

.headernav {
  position: fixed;
  width: 100%;
  z-index: 30;
}

.headernav__content {
  width: 1354px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.headernav__logo img {
  padding-top: 20px;
  width: 100%;
}

.headernav__rightside {
  padding-top: 31px;
  width: 80%;
}

.headernav__threebuttons {
  display: flex;
  justify-content: space-between;
  float: right;
  width: 680px;
}

.headernav__threebuttons--middle {
  margin: 0 20px;
}

.headernav__threebuttons a,
.headernav__threebuttons p {
  width: 32%;
  height: 35px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  background-size: 200% auto;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#FFAE00 0%, #FF8103 100%);
}

.headernav__threebuttons a:hover,
.headernav__threebuttons p:hover {
  text-decoration: underline;
  background-image: linear-gradient(#FFAE00 100%, #FF8103 0%);
}

.headernav__mainlinks {
  padding-top: 17px;
  float: right;
  margin-right: -17px;
}

.headernav__mainlinks a {
  font-size: 21px;
  color: white;
  transition: color 0.2s;
  padding: 0 20px;
}
.headernav__mainlinks a.active {
  color: #FFAE00;
}

.headernav__mainlinks a:hover {
  color: #FFAE00;
}

/* headernav when scrolled */
.headernav.scrolled {
  background-color: #121212;
  padding-bottom: 22px;
}
@media (max-width: 767px) {
  .headernav.scrolled {
    height: 80px;
    top: 0;
  }
}

@media (max-width: 767px) {
  .headernav {
    height: 80px;
    top: 0;
    padding-bottom: 22px;
  }
}
.footer {
  background-color: #121212;
}

.footer__intro {
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
}

.footer__maininfo {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.footer__maininfo_tri {
  display: flex;
}

.footer__maininfo_singular h4 {
  color: white;
  margin-top: 0;
}
.footer__maininfo_singular a, .footer__maininfo_singular p {
  color: white;
  font-size: 21px;
  margin-bottom: 0px;
  margin-top: 5px;
  cursor: pointer;
}

.footer__maininfo_singular a:hover,
.footer__maininfo_singular p:hover {
  text-decoration: underline;
}

.footer__mainbuttons {
  display: flex;
  flex-direction: column;
}

.footer__mainbuttons .btn--longsmall {
  margin-bottom: 11px;
  justify-content: center;
}

.footer__mainbuttons p {
  cursor: pointer;
}

.orange_bar {
  margin-top: 50px;
  height: 3px;
  width: 100%;
  background-color: #FFAE00;
}

.footer__subinfo_information {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0;
}

.footer__subinfo_information a {
  color: white;
  font-size: 15px;
}

.footer__subinfo_information a:hover {
  color: #E09900;
}

.footer__maininfo_singular--second,
.footer__maininfo_singular--third {
  margin-left: 60px;
}

.footer__three_circles {
  display: flex;
  flex-direction: row;
}

.footer__circle {
  width: 42px;
  padding-right: 12px;
  cursor: pointer;
}

.footer_logo {
  width: 258px;
  margin-top: -24px;
}
@media (max-width: 768px) {
  .footer_logo {
    width: 170px;
  }
}

.footer__button:hover {
  text-decoration: underline;
  background-image: linear-gradient(#FFAE00 100%, #FF8103 0%);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 22;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: black;
  color: white;
  margin: 10% auto;
  padding: 15px 10px 23px;
  border: 1px solid #888;
  width: 650px;
  border: 0;
  position: relative;
}
.modal-content .close img {
  position: absolute;
  width: 26px;
  right: 15px;
}

.modal_form_input_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_form_input_area .wpcf7-form-control-wrap {
  width: 100%;
  align-items: center;
  display: flex;
}
.modal_form_input_area .howfindus .modal_form_input {
  padding-left: 8px;
}

.modal-content h2 {
  font-size: 35px;
  margin-top: 10px;
  text-align: center;
}

.modal_form_input {
  background-color: #292929;
  color: #757575;
  font-size: 21px;
  border: 0;
  padding: 9px 12px;
  font-family: Arial;
  margin: 0 auto 19px auto;
  width: 90%;
  height: 54px;
  box-sizing: border-box;
  margin-bottom: 0 !important;
}
.modal_form_input--submit {
  text-align: center;
  background-image: linear-gradient(to right, #FF8103 0%, #FFAE00 100%);
  width: 90%;
  color: white;
  cursor: pointer;
}

.footer__corporatelogo {
  width: 150px;
  padding-top: 6px;
}

@media (max-width: 767px) {
  .footer__three_circles {
    padding-top: 20px;
  }
}
.modal-content p {
  width: 90%;
  margin: 0 auto;
  color: white;
  padding-bottom: 20px;
}
.modal-content a {
  color: white;
  text-decoration: underline;
}

.fiveboxes__box:hover .fiveboxes_leftside {
  right: 0;
}
.fiveboxes__box:hover .fiveboxes__box_internals__rightside h3 {
  text-decoration: underline;
}

.oscp {
  padding: 110px 0;
}
@media (max-width: 1500px) {
  .oscp {
    padding: 85px 0;
  }
}
@media (max-width: 767px) {
  .oscp {
    padding: 70px 0;
  }
}

/* Carousel 1 */
.carousel_section {
  padding-bottom: 100px;
}

.carousel_section h2 {
  text-align: center;
  padding-top: 106px;
  margin-bottom: 40px;
  margin-top: 0;
}

.carousel_item {
  display: flex;
}

.carousel__textleft {
  width: 50%;
  padding-right: 140px;
}
.carousel__textleft h3 {
  margin-bottom: 10px;
}

.carousel_section h4 {
  color: #FFAE00;
  margin-top: 10px;
  margin-bottom: 45px;
}

.carousel__picright {
  width: 50%;
}
.carousel__picright img {
  width: 100%;
}

.previousnextbuttons {
  display: flex;
  width: 214px;
  justify-content: space-between;
}

.clients__btn--mobile {
  display: flex;
  justify-content: center;
}
.clients__btn--mobile .btn--mobile {
  width: 100%;
}

.carousel_2__section .btn--web {
  width: 15%;
  padding: auto auto;
  margin: 20px auto 0;
  text-align: center;
  padding-bottom: 16px;
  margin-top: 21px;
}

@media (max-width: 767px) {
  .carousel__textleft {
    padding-right: 0;
  }
}
@media (max-width: 1500px) {
  .carousel__picright {
    padding-top: 30px;
  }

  .carousel__textleft {
    padding-right: 20px;
  }
}
@media (max-width: 1200px) {
  .clients_component--web p {
    margin-bottom: 25px;
  }

  .carousel_section h4 {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .carousel__textleft p {
    text-align: center;
  }
}
/* Carousel 2 */
.carousel_2__section {
  padding-top: 76px;
  padding-bottom: 106px;
  background-color: #292929;
}
.carousel_2__section .btn--web {
  margin: 20px auto;
}

.carousel_2__section h2 {
  color: white;
  text-align: center;
}

.carousel_2_item {
  display: flex;
  background-color: #1E1E1E;
}

.carousel_2__left {
  width: 15%;
}
.carousel_2__left img {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
}

.carousel_2__right {
  width: 100%;
}
@media (max-width: 767px) {
  .carousel_2__right {
    width: 85%;
  }
}

.carousel_2--paratext {
  font-size: 16px;
  color: white;
  padding: 0 15px;
  box-sizing: border-box;
  min-height: 74px;
}
@media (max-width: 1500px) {
  .carousel_2--paratext {
    min-height: 110px;
  }
}
@media (max-width: 1227px) {
  .carousel_2--paratext {
    min-height: 126px;
  }
}
@media (min-width: 768px) {
  .carousel_2--paratext {
    margin-bottom: 10px;
  }
}

.carousel_2--title {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.699);
}
@media (min-width: 768px) {
  .carousel_2--title {
    padding-left: 15px;
    margin-top: 0;
  }
}

.carousel_2 .owl-nav button {
  width: 23.5px;
  top: -5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
}
@media (max-width: 1500px) {
  .carousel_2 .owl-nav button {
    width: 29.5px;
  }
}
@media (max-width: 1227px) {
  .carousel_2 .owl-nav button {
    width: 32.5px;
  }
}

.carousel_2 .owl-nav .owl-next {
  right: -35px;
  position: absolute;
}
@media (max-width: 1500px) {
  .carousel_2 .owl-nav .owl-next {
    right: -47px;
  }
}

.carousel_2 .owl-nav .owl-prev {
  left: -35px;
  position: absolute;
}
@media (max-width: 1500px) {
  .carousel_2 .owl-nav .owl-prev {
    right: -47px;
  }
}

@media (max-width: 767px) {
  .carousel_2 .owl-nav button {
    top: 88px;
    width: 28px;
  }

  .carousel_2 .owl-nav .owl-next {
    right: -37px;
  }

  .carousel_2 .owl-nav .owl-prev {
    left: -37px;
  }

  .carousel_2--paratext {
    padding: 0;
    text-align: center;
  }
}
.reviews_button_class {
  display: flex;
  justify-content: center;
}

.reviews_button_class .btn--mobile {
  width: 100%;
  margin-top: 15px;
}

@media (max-width: 443px) {
  .carousel_2--paratext {
    min-height: 145px;
  }
}
@media (max-width: 390px) {
  .carousel_2--paratext {
    min-height: 180px;
  }
}
@media (min-width: 768px) {
  .carousel_2 {
    margin-bottom: 35px;
  }
}
.carousel_2__section .attega_center .multibox_carousel_section {
  padding-bottom: 78px;
}

.multibox_carousel__area {
  background-color: #F2F2F2;
}

.multibox_carousel_section h2 {
  text-align: center;
}

.multibox_carousel_section h2 {
  margin-top: 0;
  padding-top: 105px;
}

.multibox_item__imagepara p {
  padding-left: 21px;
}

.carousel_3_item {
  position: relative;
  box-shadow: 0px 3px 16px 0 rgba(0, 0, 0, 0.16);
  padding: 51px 36px 36px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  transition: border-color 0.2s;
  color: black;
  line-height: 27px;
}
.carousel_3_item h4 {
  margin-top: 0;
}

.multibox_item__toprightimage {
  width: 82px;
  position: absolute;
  top: -2px;
  right: -2px;
}

.multibox_item__imagepara {
  display: flex;
  margin-bottom: -15px;
  align-items: center;
}

.carousel_3_item h4 {
  font-size: 25px;
}

.multibox_item__imagepara img {
  width: 30px;
  height: 30px;
}

.multibox_carousel .owl-nav button {
  width: 32px;
  top: 165px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
}

.multibox_carousel .owl-nav .owl-next {
  right: -58px;
  position: absolute;
}

.multibox_carousel .owl-nav .owl-prev {
  left: -58px;
  position: absolute;
}

@media (max-width: 767px) {
  .multibox_carousel .owl-nav button {
    top: 76px;
    width: 28px;
  }

  .multibox_carousel .owl-nav .owl-next {
    right: -37px;
  }

  .multibox_carousel .owl-nav .owl-prev {
    left: -37px;
  }
}
.multibox_carousel_section {
  padding-bottom: 110px;
}
@media (max-width: 1500px) {
  .multibox_carousel_section {
    padding-bottom: 90px;
  }
}

@media (max-width: 1380px) {
  .multibox_carousel .carousel_3_item {
    padding: 47px 12px 14px;
  }
}
@media (max-width: 767px) {
  .multibox_carousel .carousel_3_item {
    padding: 51px 34px 35px;
  }
}
@media (max-width: 1300px) {
  .carousel_3_item .multibox_item__toprightimage {
    width: 50px;
  }

  .multibox_carousel__area .carousel_3_item:hover .multibox_item__toprightimage {
    width: 50px;
  }
}
.locationpara {
  margin-bottom: -25px;
}

.locationpara p,
.salarypara p {
  min-height: 54px;
  display: flex;
  align-items: center;
}

.locationpara img {
  padding-top: 0;
}

.job_blurb {
  margin-bottom: 8px;
  min-height: 162px;
}

/* Carousel 4 */
.carousel-4__pic {
  width: 72%;
}

.carousel-4_item {
  text-align: center;
}

.carousel-4_section_area .carousel_section h2 {
  text-align: center;
  padding-top: 0px;
  margin-bottom: 30px;
  margin-top: -10px;
}

.carousel-4__text p {
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .carousel-4__text p {
    padding-bottom: 15px;
  }
}

.carousel-4__text h3 {
  padding-top: 15px;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .carousel-4__text h3 {
    padding-top: 0;
    margin-bottom: 10px;
  }
}
.carousel-4__text .btn--web {
  width: 20%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.carousel_3_item:hover .multibox_item__toprightimage {
  width: 82px;
  position: absolute;
  top: -2px;
  right: -2px;
}

.job-buil:hover {
  border: solid #EFAE2C 2px;
}

.job-mec:hover {
  border: solid #06C170 2px;
}

.job-fire:hover {
  border: solid #EA4E2F 2px;
}

.job-it:hover {
  border: solid #8D23B9 2px;
}

.job-man:hover {
  border: solid #32A9FC 2px;
}

.home_hero h1 {
  margin-bottom: 46px;
}

.home_hero .btn--left {
  padding: 14px 88px;
  margin-right: 12px;
}

.home_hero .btn--right {
  padding: 14px 68px;
}

.home_hero {
  height: 937px;
  padding: 219.4px 0 191px;
  background-color: black;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.home_hero p {
  font-size: 30px;
  color: white;
  padding-bottom: 30px;
  padding-right: 26%;
}
@media (max-width: 767px) {
  .home_hero p {
    padding-right: 0;
  }
}

.home_hero__buttons {
  display: flex;
}

.fixeboxes {
  padding: 65px 110px 110px 110px;
  background-size: 100%;
}

.fixeboxes h2.fiveboxes_htwoselector {
  text-align: center;
  color: white;
}
@media (max-width: 767px) {
  .fixeboxes h2.fiveboxes_htwoselector {
    padding-bottom: 0;
  }
}

.fiveboxes__boxes {
  display: flex;
  justify-content: space-between;
}

.fiveboxes__box {
  width: 24%;
  background-color: #1E1E1E;
}

.fixeboxes h3 {
  color: white;
  margin-top: 34px;
}

.fiveboxes__box_internals {
  display: flex;
  position: relative;
  height: 100%;
}

.fiveboxes_leftside {
  position: absolute;
  left: 0;
  right: calc(100% - 21px);
  height: 100%;
  z-index: 5;
  transition: right 0.4s cubic-bezier(0.61, 1, 0.88, 1);
}

.textleft,
.textright {
  margin: auto 0;
}

.fiveboxes_mechanical {
  background-image: linear-gradient(#06C170 0%, #178E56 100%);
}

.fiveboxes_construction {
  background-image: linear-gradient(#EFAE2C 0%, #FE8700 100%);
}

.fiveboxes_fireandsecurity {
  background-image: linear-gradient(#EA4E2F 0%, #FE3B3B 100%);
}

.fiveboxes_manufacturing {
  background-image: linear-gradient(#32A9FC 0%, #0162F7 100%);
}

.fiveboxes_itsoftware {
  background-image: linear-gradient(#6500CC 0%, #8D23B9 100%);
}

.fiveboxes__box_internals__rightside {
  padding-left: 38px;
  z-index: 10;
  position: relative;
  padding-top: 18px;
}

.fiveboxes__box_internals__rightside--fire h3 {
  padding-right: 84px;
}

.fiveboxes__box_internals__rightside img {
  height: 101px;
  margin-left: -12px;
}

.picright_textleft {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
}

@media (min-width: 768px) {
  .picright_textleft.sector_picright {
    padding-bottom: 20px;
  }
}
.picleft_textright {
  display: flex;
}

.textleft {
  padding-right: 105px;
  width: 50%;
}

.textright {
  width: 50%;
}

.picright {
  width: 50%;
}

.picleft {
  width: 50%;
}

.picright img,
.picleft img {
  width: 100%;
}

.picright img,
.picleft img,
.btn,
.carousel__picright img,
.fiveboxes__box,
.carousel_2_item {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.textright {
  padding-left: 105px;
}

.textright h3,
.textleft h3 {
  margin-top: 0;
}

.picleft_textright p,
.picright_textleft p {
  padding-bottom: 44px;
}

.blogs_section {
  padding-top: 111px;
  padding-bottom: 109px;
  background-color: grey;
}

.blogs_section h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.blogs_section__squares {
  display: flex;
  justify-content: space-between;
}

.blogs_squares_left {
  width: 49%;
}

.blogs_squares__right {
  width: 49%;
}

.nav_inner__content a:hover {
  color: #FFAE00;
}

.triangular_div {
  background-color: #121212;
  box-shadow: 30px 0 56px rgba(0, 0, 0, 0.85);
  box-shadow: 24px;
  width: 101%;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(-50%) skew(17deg);
  z-index: 5;
}

.home_hero__image {
  -o-object-fit: cover;
     object-fit: cover;
}

#homeHeroImg {
  z-index: 1;
  will-change: opacity;
}

.home_hero__imagediv {
  width: 60%;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  bottom: 0;
}
.home_hero__imagediv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(180deg, black 0%, black 10%, rgba(0, 0, 0, 0.0974477958) 78%, rgba(0, 0, 0, 0.1096813725) 100%);
}

.home_hero__imagediv .home_hero__image {
  width: 100%;
  height: 100%;
}

.home_hero .my_container {
  position: relative;
  z-index: 20;
}

.btn.btn--left:hover,
.btn.btn--right:hover {
  background-image: linear-gradient(#FFAE00 100%, #FF8103 0%);
  text-decoration: underline;
}

.background_colouring {
  background-color: #F2F2F2;
}

.text_right__specificone {
  padding-right: 20%;
}

.fiveboxes_itsoftwaresection h3 {
  padding-right: 35px;
}

@media (max-width: 767px) {
  .home .multibox_carousel_section h2 {
    padding-top: 0;
  }
}

.wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output {
  display: none;
}

.contact_details {
  background-color: #292929;
  padding: 85px 0;
}

.tribox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.tribox__single .tribox__single {
  width: 100%;
  position: relative;
  background-color: #1E1E1E;
}
@media (max-width: 767px) {
  .tribox__single .tribox__single {
    margin: 10px 0;
  }
}
.tribox__single .tribox__single_a {
  width: 32.5%;
}

.tribox__single__content {
  text-align: center;
  padding: 45px 0;
  color: white;
  z-index: 10;
  position: relative;
}

.tribox__single__content p,
.tribox__single__content a {
  color: white;
}

.tribox__single__imageleft {
  right: calc(100% - 21px);
  height: 100%;
  left: 0;
  position: absolute;
  background-image: linear-gradient(#EFAE2C 0%, #FE8700 100%);
  transition: right 0.4s cubic-bezier(0.61, 1, 0.88, 1);
  z-index: 5;
}

.tribox__single_phoneright:hover .tribox__single__imageleft {
  right: 0;
}

.tribox__single:hover .tribox__single__imageleft {
  right: 0;
}

.tribox__single__icon {
  width: 63px;
  margin: -22px 0;
}
@media (min-width: 768px) {
  .tribox__single__icon {
    width: 83px;
  }
}

.tribox__single__content h3,
.tribox__single__content p {
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .tribox__single__content h3,
.tribox__single__content p {
    font-size: 21px;
  }
}

.contact_formarea__header h2 {
  font-size: 29px;
}

.contact_formarea__header p {
  padding: 30px 0 40px 0;
  line-height: 30px;
}

.tribox__single__content h3 {
  margin-bottom: 3px;
}

.tribox__single__content p {
  margin: 0;
}

.contact_formarea {
  padding: 151px 0;
  background-color: #F2F2F2;
}

.contact_formarea h2 {
  margin-top: 0;
}

.contact_formarea__content {
  display: flex;
  justify-content: space-between;
}

.contact_formarea__content__left {
  width: 54%;
}

.contact_formarea__content__right {
  width: 42%;
}

.contact_form__submit {
  width: 100%;
  border: 0;
  height: 48px;
  background-image: linear-gradient(#EFAE2C 0%, #FE8700 100%);
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.contact_form_doubleinput {
  display: flex;
  justify-content: space-between;
}

.contact_form__input {
  background-color: #E5E5E5;
  font-size: 21px;
  margin-bottom: 19px;
  border: 0;
  color: #757575;
  padding: 16px;
  box-sizing: border-box;
  font-family: Arial;
}

.contact_form__input--thin {
  width: 100%;
}
.contact_form__input--wide {
  width: 100%;
}

.contact_form__input.contact_form__input--long {
  width: 100%;
  box-sizing: border-box;
  line-height: 29px;
  margin-top: -20px;
  margin-bottom: 20px;
  height: 267px;
  border: 0;
  color: #757575;
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .contact_form__input.contact_form__input--long {
    padding: 16px 15px 221px;
  }
}
@media (max-width: 767px) {
  .contact_form__input.contact_form__input--long {
    margin-top: -17px;
    padding-bottom: 231px;
  }
}

@media (max-width: 767px) {
  .howfindus .contact_form__input {
    padding-bottom: 14px;
    padding-left: 6px;
  }
}
.contact_form_doubleinput .wpcf7-form-control-wrap {
  width: 48.7%;
}

.phoneright_textleft {
  display: flex;
}

.phoneright_textleft__left {
  width: 70%;
}

@media (min-width: 1380px) {
  .phoneright_textleft_area,
.phoneright_textleft__left {
    margin: auto 0;
  }
}
@media (min-width: 1501px) {
  .textright,
.textleft {
    padding-bottom: 18px;
    box-sizing: border-box;
  }
}
@media (min-width: 1190px), (max-width: 1380) {
  .picleft_textright p, .picright_textleft p {
    padding-bottom: 18px;
  }
}
.phoneright_textleft__left h2 {
  font-size: 29px;
}

.phoneright_textleft__right {
  width: 30%;
}

.tribox__single_phoneright {
  width: 100%;
  position: relative;
  background-color: #1E1E1E;
}

.clients_component--web p {
  margin-bottom: 40px;
}
.clients_component--mobile {
  text-align: center;
}

.carousel-4__viddiv {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .carousel-4__viddiv {
    width: 100%;
  }
}

.clients_component--web p {
  margin-bottom: 50px;
  margin-top: -8px;
}

@media (max-width: 767px) {
  .carousel-4_section_area {
    padding-bottom: 35px;
  }
  .carousel-4_section_area .btn--mobile {
    width: 100%;
  }
}
.clients__phoneright .textleft {
  margin-top: 0;
}
@media (max-width: 1500px) {
  .clients__phoneright .textleft {
    padding-right: 33px;
    margin-top: -10px;
  }
}

.clients__phoneright .picright {
  display: flex;
  align-items: center;
}

.about_fourboxes_section {
  padding: 83px 0 58px 0;
  margin-top: 87px;
  background-color: #585858;
}
@media (max-width: 1300px) {
  .about_fourboxes_section {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .about_fourboxes_section {
    margin-top: 0;
  }
}

.about_fourboxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  color: white;
}
.about_fourboxes__left, .about_fourboxes__right {
  position: relative;
  text-align: center;
  width: 49%;
  background-color: #1E1E1E;
  padding-left: 35px;
  padding-right: 14px;
  box-sizing: border-box;
}

.about_fourboxes p {
  font-size: 18px;
}
.about_fourboxes h3 {
  font-size: 23px;
}

.about_box__imageleft {
  left: 0;
  position: absolute;
  height: 100%;
  width: 21px;
  background-image: linear-gradient(#EFAE2C 0%, #FE8700 100%);
}

@media (max-width: 1500px) {
  .about_us_info.textleft {
    padding-right: 30px;
  }

  .about_us_info.textright {
    padding-left: 30px;
  }
}
@media (max-width: 1280px) {
  .web_info.textleft {
    padding-right: 30px;
  }

  .web_info.textright {
    padding-left: 30px;
  }
}
.sectors_hero {
  background-size: 100%;
  position: relative;
}

.firesecurity_hero {
  background-size: 100%;
  position: relative;
}

.firesecurity_bar {
  background-image: linear-gradient(#EA4E2F 0%, #FE3B3B 100%);
  position: absolute;
  bottom: 0;
  height: 11px;
  width: 100%;
}

.construction_hero {
  background-size: 100%;
  position: relative;
}

.construction_bar {
  background-image: linear-gradient(#EFAE2C 0%, #FE8700 100%);
  position: absolute;
  bottom: 0;
  height: 11px;
  width: 100%;
}

.mechanical_hero {
  background-size: 100%;
  position: relative;
}

.mechanical_bar {
  background-image: linear-gradient(#06C170 0%, #178E56 100%);
  position: absolute;
  bottom: 0;
  height: 11px;
  width: 100%;
}

.software_hero {
  background-size: 100%;
  position: relative;
}

.software_bar {
  background-image: linear-gradient(#6500CC 0%, #8D23B9 100%);
  position: absolute;
  bottom: 0;
  height: 11px;
  width: 100%;
}

.technology_hero {
  background-size: 100%;
  position: relative;
}

.technology_bar {
  background-image: linear-gradient(#32A9FC 0%, #0162F7 100%);
  position: absolute;
  bottom: 0;
  height: 11px;
  width: 100%;
}

.sector_background {
  background-color: #F2F2F2;
}
@media (max-width: 767px) {
  .sector_background {
    margin-bottom: -10px;
  }
}
.sector_background .mobile_info.picright {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .sector_picright .picright img {
    margin-bottom: 25px;
  }
}
.sector_picright .picright {
  display: flex;
  align-items: center;
}

.sector_picright .textleft {
  padding-right: 24px;
}

.sector_background a {
  width: 100%;
  margin-bottom: -50px;
}
.sector_background .sector_picright .picright {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blogs_category_row {
  width: 100%;
  display: flex;
}

.blogs_grid {
  width: 70%;
}

.blogs_catsidebar {
  width: 30%;
}

.blogs_row {
  display: flex;
  flex-wrap: wrap;
}

.blogs_grid__item {
  width: 50%;
}
.blogs_grid__item__border {
  width: 95%;
}
.blogs_grid__item__border img {
  width: 100%;
  margin-bottom: -1px;
}

.blog_sideinfo {
  padding: 28px 28px 46px 28px;
  background-color: #E2E2E2;
  box-sizing: border-box;
}
.blog_sideinfo h3 {
  margin-top: 0;
}
.blog_sideinfo p {
  padding-bottom: 31px;
}

.blog_search {
  padding: 28px;
  background-color: #E2E2E2;
  box-sizing: border-box;
  margin-bottom: 23px;
}

.blog_sideinfo .blog_grid__item__button {
  width: 100%;
  height: 34px;
  padding-left: 16px;
  text-align: left;
  color: white;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  background-image: linear-gradient(#FFAE00 0%, #FF8103 100%);
  margin-top: -4px;
}

.blogs_grid__item h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 80px;
  color: black;
}

.blogs_category {
  padding: 112px 0 35px;
  background-color: #F2F2F2;
}

.blog_content {
  padding: 100px 0;
}
.blog_content p {
  font-size: 21px;
  line-height: 30px;
  font-family: Arial;
}
.blog_content img {
  padding-bottom: 20px;
}

.blog_content .blog_grid__item__button {
  position: relative;
}

.blogs_grid__item .blog_arrow {
  position: absolute;
  width: 24px;
  right: 30px;
  margin-top: -12px;
}
@media (max-width: 767px) {
  .blogs_grid__item .blog_arrow {
    width: 20px;
  }
}

.blog_grid__item__button__two {
  position: absolute;
  height: 46px;
  bottom: 0;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(#FFAE00 0%, #FF8103 100%);
  border: 0;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .blog_grid__item__button__two {
    font-size: 16px;
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .blog_grid__item__button__two {
    padding: 0 15px;
  }
}
@media (max-width: 400px) {
  .blog_grid__item__button__two {
    padding: 0 8px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .blog_arrow_two {
    display: none;
  }
}
@media (max-width: 767px) {
  .blogs_section__squares .blog_grid__item__button__two .blog_arrow_two {
    width: 23px;
  }
}
.blogs_section__squares:hover .blog_arrow_two {
  transform: scale(1);
}

.blog_grid__item__button__two .blog_arrow_two {
  width: 30px;
  right: 0;
  position: relative;
}

.blog_squares__left_square,
.blogs_squares__right_top_square,
.blogs_minibox__left_bottom_square--left,
.blogs_minibox__left_bottom_square--right {
  position: relative;
}

.blogs_section img {
  width: 100%;
}

.blogs_squares__right_top_square {
  height: 100%;
}

.blogs_minibox__left_bottom_square--left {
  height: 100%;
}
.blogs_minibox__left_bottom_square--right {
  height: 100%;
}

.tool-pagination .pages {
  display: flex;
}
.tool-pagination .pages .pageslink {
  border: 1px black;
  width: 55px;
  height: 55px;
  font-size: 34px;
  display: flex;
  border: 1px solid black;
  margin-left: -1px;
}

.tool-pagination .pageslink:hover {
  background-color: black;
}
.tool-pagination .pageslink:hover span,
.tool-pagination .pageslink:hover a {
  color: white;
}

.pageslink span,
.pageslink a {
  margin: auto auto;
  color: black;
}

.blogs_squares__left {
  width: 49%;
  position: relative;
  overflow: hidden;
}

.blogs_squares__left:hover img {
  transition: 0.2s;
  transform: scale(1.02);
}

.blogs_squares__right {
  width: 49%;
  position: relative;
}

.mobile_info .blog_search {
  margin-bottom: 0;
}
.mobile_info .blog_search input[type=submit] {
  width: 20%;
  border: 0;
  height: 50px;
  padding: 0;
}
.mobile_info .blog_search input[type=text] {
  width: 77%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 50px;
}
.mobile_info .blog_search form {
  display: flex;
}

.blog_search.web_info input[type=submit] {
  border: 0;
  padding: 0;
  width: 20%;
  height: 43px;
  font-family: Arial;
}
@media (max-width: 1400px) {
  .blog_search.web_info input[type=submit] {
    width: 25%;
  }
}
@media (max-width: 899px) {
  .blog_search.web_info input[type=submit] {
    width: 35%;
  }
}
.blog_search.web_info input[type=text] {
  width: 75%;
  height: 50px;
  border: 0;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}
@media (max-width: 1400px) {
  .blog_search.web_info input[type=text] {
    width: 65%;
  }
}
@media (max-width: 899px) {
  .blog_search.web_info input[type=text] {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .blog_sideinfo {
    text-align: center;
  }
}
/* misc media queries */
@media (min-width: 1501px) {
  .textleft,
.textright {
    line-height: 30px;
  }

  .textleft p,
.textright p {
    padding-bottom: 28px;
  }

  .textleft,
.textright {
    margin-top: 20px;
  }
}
@media (max-width: 1500px) {
  h1 {
    font-size: 65px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  p,
.footer__maininfo_singular a,
.footer__maininfo_singular p,
.footer__subinfo_information a {
    font-size: 18px;
  }

  .home_hero {
    height: auto !important;
    padding: 151.4px 0 130px;
  }

  .my_container {
    width: 80%;
  }

  .headernav__content {
    width: 80%;
  }

  .home_hero p {
    font-size: 21px;
  }

  .fiveboxes__box {
    width: 24%;
  }

  .fiveboxes__boxes.my_container {
    width: 100%;
  }

  .blogs_section__squares img,
.picright_textleft img,
.picleft_textright img {
    width: 100%;
  }

  .textleft,
.textright,
.picleft,
.picright {
    width: 50%;
  }

  .headernav__threebuttons a {
    font-size: 16px;
  }

  .home_hero .btn--right {
    padding: 6px 48px;
  }

  .home_hero .btn--left {
    padding: 6px 65px;
  }

  .carousel_3_item h4 {
    font-size: 25px;
  }

  .contact_formarea {
    padding: 90px 0;
  }

  .footer__maininfo_singular--second,
.footer__maininfo_singular--third {
    margin-left: 20px;
  }

  .fiveboxes__box_internals__rightside {
    padding-left: 38px;
  }

  .picright_textleft {
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 0;
  }

  .picleft_textright {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .multibox_carousel_section h2 {
    padding-top: 90px;
    margin-bottom: 35px;
  }

  .blogs_section {
    padding-top: 85px;
    padding-bottom: 90px;
  }

  .blogs_section h2 {
    margin-bottom: 45px;
  }

  .carousel_section {
    padding-bottom: 70px;
  }

  .carousel_section h2 {
    padding-top: 85px;
    margin-bottom: 10px;
  }

  .carousel_2__section {
    padding-top: 55px;
    padding-bottom: 85px;
  }

  .footer__maininfo {
    padding-top: 60px;
  }

  .btn--small {
    font-size: 19px;
  }

  .fixeboxes h2 {
    padding-bottom: 20px;
  }

  .fixeboxes {
    padding: 60px 110px 90px 110px;
  }

  .medium_hero {
    padding-top: 244px;
    padding-bottom: 141px;
  }

  .job_blurb {
    min-height: 162px;
  }
}
@media (max-width: 1450px) {
  .job_blurb {
    min-height: 189px;
  }
}
@media (max-width: 1390px) {
  .headernav__rightside {
    width: 145%;
  }

  .btn--small {
    font-size: 21px;
    padding: 12px 19px;
  }

  .textleft,
.textright {
    margin-top: 6px;
  }
}
@media (max-width: 1190px) {
  .fiveboxes__box h3 {
    font-size: 16px;
  }

  .fiveboxes__box_internals__rightside {
    padding-left: 28px;
  }

  .headernav__mainlinks a {
    font-size: 18px;
    color: white;
    transition: 0.2s;
    padding: 0 14px;
  }

  .headernav__threebuttons {
    width: 97%;
  }

  .picright img,
.picleft img,
.picright,
.picleft {
    width: 100%;
  }

  .picright_textleft {
    flex-direction: column;
  }

  .picleft_textright {
    flex-direction: column-reverse;
  }

  .picleft img,
.picright img {
    margin-bottom: 28px;
  }

  .textleft,
.textright,
.picleft,
.picright {
    width: 100%;
  }

  .textleft,
.textright {
    padding: 0 0 70px 0;
  }

  .textright h3 {
    margin-top: 0;
  }

  .picright_textleft {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .picleft_textright {
    padding-bottom: 70px;
  }

  .carousel_3_item h4 {
    font-size: 20px;
  }
}
@media (max-width: 1071px) {
  .job_blurb {
    min-height: 189px;
  }
}
@media (min-width: 992px) {
  .header_menu_icon_mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .headernav__logo {
    top: 13px;
    position: absolute;
  }

  .header_menu_icon_mobile {
    width: 32px;
    height: 26px;
    position: absolute;
    top: 43px;
    right: 0;
    cursor: pointer;
    margin-right: 7.5%;
    transform: scale(1);
  }

  .nav_inner__top {
    display: flex;
  }

  .nav_inner {
    height: 100%;
  }

  .nav_inner__content {
    text-align: center;
    margin-bottom: -90px;
  }

  .nav {
    padding: 0;
  }

  .headernav__rightside {
    display: none;
  }

  .clients__phoneright .picright {
    flex-direction: column;
  }
  .clients__phoneright .picright a {
    width: 100%;
  }

  .contact_formarea__header p {
    padding: 5px 0 40px 0;
  }
}
@media (min-width: 768px) {
  .btn--mobile,
.mobile_info {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1188px) {
  .multibox_carousel_section h2 {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 21px;
  }

  p {
    font-size: 16px;
  }

  .my_container {
    width: 85%;
    margin: 0 auto;
  }

  .medium_hero {
    padding-top: 105px;
    padding-bottom: 70px;
  }

  .blogs_section img,
.picright img,
.picleft img,
.picright,
.picleft,
.blogs_squares__left,
.blogs_squares__right,
.carousel__textleft,
.carousel__picright,
.picright button,
.picleft button,
.headernav__content {
    width: 100%;
  }

  .btn--web,
.headernav__rightside,
.web_info {
    display: none;
  }

  .blogs_section__squares,
.footer__maininfo,
.fiveboxes__boxes,
.picright_textleft {
    flex-direction: column;
  }

  .picleft_textright,
.carousel_section .carousel_item {
    flex-direction: column-reverse;
  }

  .headernav__logo {
    left: 7.5%;
    top: 13px;
    position: absolute;
  }

  .picleft img,
.picright img {
    margin-bottom: 28px;
  }

  .textleft,
.textright,
.picleft,
.picright {
    width: 100%;
  }

  .home_hero {
    height: auto;
  }

  .home_hero p {
    font-size: 18px;
  }

  .footer__subinfo_information {
    flex-direction: column;
  }

  .footer__subinfo_information a {
    text-align: center;
  }

  .btn--mobile {
    width: 100%;
    height: 35px;
    font-size: 18px;
  }

  .btn--mobile {
    background-image: linear-gradient(to right, #FF8103 0%, #FFAE00 100%);
  }

  .fixeboxes {
    padding: 70px 7.5% 55px 7.5%;
  }

  .fiveboxes__box {
    width: 100%;
    margin-bottom: 13px;
  }

  .fiveboxes__box_internals__rightside {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: border-box;
  }

  .fiveboxes__box_internals img {
    width: 12px;
    height: 56px;
  }

  .fixeboxes h2 {
    margin: 0 0 36px;
  }

  .fiveboxes__box_internals .fiveboxes__box_internals__rightside img {
    width: 40px;
    margin: -12px -5px -12px -12px;
  }

  .phoneright_textleft_area {
    padding: 35px 0 65px;
  }

  .fiveboxes__box h3 {
    font-size: 18px;
    padding-left: 14px;
    padding-top: 7px;
    margin: 0;
  }

  .fixeboxes .my_container {
    width: 100%;
  }

  .fiveboxes_leftside {
    width: 12px;
  }

  .multibox_carousel_section {
    padding-top: 0px;
  }

  .textleft,
.textright {
    padding: 0;
  }

  .textright h3 {
    margin-top: 0;
  }

  .carousel_section h2 {
    padding-top: 60px;
  }

  .blogs_section {
    padding-top: 55px;
    padding-bottom: 59px;
  }

  .blogs_section h2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
  }

  .blogs_section__squares {
    height: auto;
  }

  .picright_textleft {
    padding-top: 59px;
  }

  .multibox_carousel_section {
    padding-bottom: 36px;
  }

  .blogs_squares__left,
.blogs_squares__right__top,
.blogs_minibox__left,
.blogs_minibox__right {
    background-image: linear-gradient(to right, #FF8103 0%, #FFAE00 100%);
  }

  .blogs_minibox__left,
.blogs_minibox__right {
    width: 48%;
  }

  .blogs_section h4 {
    margin: 0;
    font-size: 15px;
  }

  .blogs_squares__left,
.blogs_squares__right__top {
    margin-bottom: 12px;
  }

  .blogs_squares__right__bottom {
    justify-content: space-between;
  }

  .home_hero .btn--left {
    padding: 8px 10.1%;
  }

  .home_hero .btn--right {
    padding: 8px 4.2%;
  }

  .footer__content {
    padding-top: 25px;
  }

  .footer__intro {
    padding-bottom: 0;
  }

  .footer__subinfo_information a {
    font-size: 15px;
  }

  .footer__maininfo_singular h4 {
    font-size: 16px;
  }

  .footer__maininfo_singular p {
    font-size: 15px;
  }

  .footer__maininfo_singular--second {
    padding-left: 30px;
  }

  .footer__maininfo_singular--third {
    display: none;
  }

  .phoneright_textleft {
    flex-direction: column;
  }

  .phoneright_textleft_area .phoneright_textleft__left,
.phoneright_textleft_area .phoneright_textleft__right {
    width: 100%;
  }

  .picright button {
    margin-bottom: 56px;
  }

  .multibox_item__imagepara img {
    margin-top: -5px;
  }

  .multibox_item__imagepara p {
    padding-left: 14px;
  }

  .carousel_3_item .job_blurb {
    padding-right: 0;
  }

  .multibox_carousel_section h2 {
    padding-top: 65px;
  }

  .carousel_section h2 {
    margin-bottom: 20px;
  }

  .carousel__picright h3 {
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .carousel__picright h4 {
    font-weight: 18px;
  }

  .footer__intro {
    padding-top: 0;
  }

  .footer__maininfo_tri {
    margin-bottom: 24px;
  }

  .orange_bar {
    margin-top: 30px;
  }

  .footer__maininfo {
    padding-top: 35px;
  }

  .carousel_2_item {
    flex-direction: column;
  }

  .carousel_2__left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .carousel_2__left img {
    width: 70px;
  }

  .carousel_2__right {
    margin: 0 auto;
  }

  .carousel_2--title {
    text-align: center;
  }

  .carousel_2_item {
    padding: 20px;
  }

  .carousel_2__section h2 {
    margin-bottom: 38px;
  }

  .carousel_2__section {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .picleft_textright {
    padding-bottom: 60px;
  }

  .home_hero {
    padding: 211px 0 94px;
  }

  .home_hero p {
    padding-bottom: 45px;
  }

  .home_hero h1 {
    margin-bottom: 54px;
  }

  .home_hero__buttons__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .home_hero__buttons__mobile__button {
    width: 48%;
    background-image: linear-gradient(to right, #FF8103 0%, #FFAE00 100%);
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 8px 0;
  }

  .phoneright_textleft__right {
    margin-top: 15px;
  }

  .carousel_section {
    padding-bottom: 25px;
  }

  .home_hero__imagediv {
    width: 100%;
  }

  .about_fourboxes p {
    font-size: 16px;
  }

  .about_fourboxes {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .about_fourboxes__left,
.about_fourboxes__right {
    margin-bottom: 2%;
    padding-left: 26px;
    width: 100%;
  }

  .about_fourboxes__left {
    margin-bottom: 20px;
  }

  .about_box__imageleft {
    width: 12px;
  }

  .about_fourboxes_section {
    padding: 60px 0 50px;
  }

  .contact_formarea__content {
    flex-direction: column;
  }

  .contact_formarea__content__left {
    width: 100%;
  }

  .contact_formarea__content__right {
    width: 100%;
    margin-top: 30px;
    height: 300px;
  }

  .contact_formarea {
    padding: 60px 0;
  }

  .contact_formarea__header p {
    padding-bottom: 20px;
  }

  .contact_form__input {
    font-size: 15px;
    margin-bottom: 8px;
    padding: 16px 10px 16px 10px;
  }

  .tribox {
    flex-direction: column;
  }

  .tribox__single_a {
    width: 100%;
  }

  .tribox__single__content {
    padding: 20px 0;
  }

  .contact_details {
    padding: 35px 20px 35px;
  }

  .tribox__single__content h3 {
    margin-top: 13px;
  }

  .headernav__logo img {
    width: 60%;
  }

  .modal-content {
    width: 80%;
  }

  .modal-content h2 {
    font-size: 26px;
  }

  .modal_form_input {
    padding: 16px 15px;
    width: 90%;
    font-size: 16px;
  }

  .modal_form_input--submit {
    width: 99%;
  }

  .blogs_category_row {
    flex-direction: column;
  }

  .blogs_category {
    padding: 70px 0;
  }

  .blog_grid__item__button {
    height: 36px;
    font-size: 18px;
  }

  .blogs_grid__item h3 {
    font-size: 16px;
    margin-bottom: 36px;
  }

  .blogs_catsidebar {
    width: 100%;
  }

  .blogs_grid {
    width: 102.7%;
  }

  .blog_sideinfo p {
    padding-bottom: 15px;
  }

  .blog_sideinfo {
    padding: 28px 28px 45px 28px;
  }

  .nav_logo_mobile {
    width: 42%;
  }

  .phoneright_textleft__left h2 {
    font-size: 21px;
  }

  .footer__circle {
    width: 38px;
    padding-left: 8px;
    padding-right: 0;
  }

  .phoneright_textleft__left h2,
.phoneright_textleft__left p {
    text-align: center;
  }

  .phoneright_textleft_area .phoneright_textleft__left {
    padding-right: 0;
  }

  .modal-content {
    margin: 32% auto;
  }

  .modal-content .close img {
    width: 20px;
  }

  .multibox_carousel .owl-stage-outer {
    padding-bottom: 20px;
  }

  .picleft_textright p,
.picright_textleft p {
    padding-bottom: 10px;
  }

  .picright_textleft {
    padding-bottom: 0;
  }

  .clients_component--web p {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .carousel_section_area .btn--mobile {
    margin-bottom: 35px;
  }

  .multibox_carousel__area {
    background-color: #F2F2F2;
  }

  .job_blurb {
    min-height: 70px;
  }

  .carousel_section_area .carousel__picright {
    padding-top: 0;
  }

  .locationpara {
    margin-top: -15px;
  }
}
@media (max-width: 500px) {
  .job_blurb {
    min-height: 108px;
  }
}
